@inject XmlConfService XmlConf
@inject IJSRuntime JSRuntime
<div class="card-footer" style="padding:.5rem 1.25rem !important; font-size:.8rem !important;">
    <div style="float:left; width:50%;">
        <div class="dataTable_info" id="example2_info" role="status" aria-live="polite">
            <span><i id="iUrlFlag" class="fas fa-globe url_active"></i>&nbsp;@strURLAuto</span>                  <!--URL 자동전환 사용-->
        </div>
    </div>

    <div style="float:right; width:auto;">

        <ul class="pagination pagination-sm m-0 ">
            <li>@strRemainFileSend : </li>                                                  <!--남은 일일 파일전송-->
            <li style="padding:5px 10px; width:100px;">
                <div class="progress progress-xs">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%; vertical-align:middle;">
                        <span class="sr-only">100% Complete (success)</span>
                    </div>
                </div>
            </li>
            <li><label class="form-check-label" />15,000 MB </li>
            <li style="padding:5px 10px; width:100px;">
                <div class="progress progress-xs">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%; vertical-align:middle;">
                        <span class="sr-only">100% Complete (success)</span>
                    </div>
                </div>
            </li>
            <li><label class="form-check-label" />@strCount</li>                 <!--{0} 건-->
            <li><i @onclick="@(e => ChangeUrlAuthRedirection(false))" class="fas fa-caret-square-down ch" style="cursor:pointer;"></i></li>
        </ul>

    </div>

</div>

@code {
    public string strURLAuto = "";
    public string strRemainFileSend = "";
    public string strCount = "";

    protected override void OnInitialized()
    {
        strURLAuto = XmlConf.GetTitle("T_INFO_USE_URLREDIRECT_AUTO");                       // URL 자동전환 사용
        strRemainFileSend = XmlConf.GetTitle("T_ETC_ONEDAY_LEFT_FILE");                     // 남은 일일 파일전송
        strCount = XmlConf.GetTitle("T_TRANS_SEARCHCOUNT");                                 // {0} 건
        strCount = String.Format(strCount, 10240);
    }

    private async Task ChangeUrlAuthRedirection(bool bOn)
    {
        if (bOn == true)
        {
            object[] param = { "on" };
            await JSRuntime.InvokeAsync<object>("changeUrlRedirectionFlag", param);
        }
        else
        {
            object[] param = { "off" };
            await JSRuntime.InvokeAsync<object>("changeUrlRedirectionFlag", param);
        }
    }
}
