@page "/MicrosoftPage/counter"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> <br>
<button class="btn btn-primary" @onclick="ShowNotiSucc">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

    public async Task ShowNotiSucc()
    {
        await JSRuntime.InvokeAsync<string>("showNotiSucc","파일 전송을 완료 하였습니다.!!!");
        StateHasChanged();
    }
}
