[Desktop Entry]
Name=SecureGate
Comment=OpenNetLinkApp
GenericName=File Transfer
Exec=/bin/sh -c '/opt/hanssak/OpenNetLinkApp/OpenNetLinkApp.sh'
Icon=/opt/hanssak/OpenNetLinkApp/wwwroot/SecureGate.ico
Type=Application
Categories=Utility;
Keywords=SecureGate;OpenNetLink;NetLink;

