.vs/
.vscode/
bin/
obj/
*.user
*.Log
*.hsz
*.hz
*.0.conf
*.pk
Debug/
Release/
packages/
artifacts/
Download/
tools/
/src/OpenNetLinkApp/wwwroot/SiteProfile/
/src/OpenNetLinkApp/wwwroot/conf/
/src/OpenNetLinkApp/wwwroot/edge/*
/src/OpenNetLinkApp/WindowsPackage/Microsoft.WebView2.FixedVersionRuntime.88.0.705.68.x64/*
/src/OpenNetLinkApp/Library/HsNetWorkSG_컴파일한거.dll
/src/OpenNetLinkApp/Library/HsNetWorkSG_받은거_201126.dll
/src/OpenNetLinkApp/Library/HsNetWorkSG_201125_001.dll
/src/OpenNetLinkApp/Library/HsNetWorkSG-1.dll
/src/OpenNetLinkApp/Library/HsNetWorkSG - 복사본.dll
/src/OpenNetLinkApp/Library/HsNetWorkSG.dll
.DS_Store
*.pkg
OpenNetLinkSetup.exe
/src/OpenNetLinkApp/Library/WebView2Loader.dll
/src/OpenNetLinkApp/Library/WebWindow.Native.dll
