@using OpenNetLinkApp.Services;
@inject DragAndDropService DragAndDropService

<div ondragover="event.preventDefault()" @ondrop="OnDrop" style="height:100%;">
    @ChildContent
</div>
@functions {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Zone { get; set; }

    [Parameter]
    public Action<List<string>> Drop { get; set; }

    void OnDrop()
    {
        List<string> stList = DragAndDropService.getDataList();
        Drop(stList);
        DragAndDropService.clearDataList();
    }
}
