@inherits LayoutComponentBase

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light text-md navbar-default border-0">
    <NavMenu />
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: url('/images/adminlte/slide_bg_1.png');background-position:right bottom; background-size: cover;">
    <!-- Brand Logo -->
    <a href="#" class="brand-link border-0 m-0 text-center">
    <img src="/images/adminlte/logo_l.png" alt=" Logo" class="brand-text">
    </a>
    <a href="#" class="brand-link border-0">
    <img src="/images/adminlte/logo_s.png" alt="Logo" class="logo-xs"  >
    </a>

    <SideBarUI />
    <!-- /.Main Sidebar Container -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div id="main-body" class="content-wrapper">
    @Body
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- Main Footer -->
<footer id="main-footer" class="main-footer">
    <MainFooter />
</footer>
<!-- /.Main Footer -->

@code
{
}