@inherits LayoutComponentBase

<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <NavMenu />
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <SideBar />
<!-- /.Main Sidebar Container -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @Body
</div>
<!-- /.content-wrapper -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->

<!-- Main Footer -->
<footer class="main-footer">
    <MainFooter />
</footer>
<!-- /.Main Footer -->

@code
{
}