@inherits LayoutComponentBase

<!-- Navbar -->
<nav id="main-nav" class="main-header navbar navbar-expand navbar-white navbar-light">
    <NavMenu />
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside id="left-sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <SideBarUI />
    <!-- /.Main Sidebar Container -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div id="main-body" class="content-wrapper">
    @Body
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
<!-- Main Footer -->
<footer id="main-footer" class="main-footer">
    <MainFooter />
</footer>
<!-- /.Main Footer -->

@code
{
}