@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime


<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
  <img src="images/adminlte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
  <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="images/adminlte/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <SideBarMenu MenuBuilder="@MenuBuilder" />
  <!-- /.sidebar-menu -->

</div>
<!-- /.sidebar -->
<!-- . Brand Logo -->


@code {
    SideBarBuilder MenuBuilder = new SideBarBuilder();

    protected override void OnInitialized()
    {
        MenuBuilder.AddItem(1, "Home", "/", "fas fa-tachometer-alt", "right badge badge-danger", match: NavLinkMatch.All)
                   .AddItem(2, "Counter", "counter", "fas fa-th", isEnabled: true)
                   .AddSubMenu(3, "Sub Menu", new SideBarBuilder().AddItem(1, "Counter", "counter", "far fa-circle")
                                                                  .AddItem(2, "Fetch Data", "fetchdata", "far fa-circle", isEnabled: false)
                                                                  .AddItem(3, "You Can't See Me", "invisible", "far fa-circle", isVisible: false), "fas fa-copy", "badge badge-info right")
                   .AddItem(4, "FetchData", "fetchdata", "fas fa-tree");
    }

    public async Task LoadTreeView()
    {
        await JSRuntime.InvokeVoidAsync("loadTreeView");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadTreeView();
            await base.OnAfterRenderAsync(firstRender);
            StateHasChanged();
        }
    }
}