@using System.Drawing
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject WebWindow Window
@inject SideBarService SideBarSvc 


<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
  <img src="images/adminlte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
  <span class="brand-text font-weight-light">AdminLTE 3</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="images/adminlte/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <SideBarMenu MenuBuilder="@SideBarSvc.Builder" />
  <!-- /.sidebar-menu -->

</div>
<!-- /.sidebar -->
<!-- . Brand Logo -->

@code
{
    public async Task LoadTreeView()
    {
        await JSRuntime.InvokeVoidAsync("loadTreeView");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            string iconFilename = "wwwroot/SecureGate.ico";
            Window.SetIconFile(iconFilename);

            Size windowSize = Window.Size;
            windowSize.Width = 1280;
            windowSize.Height = 800;
            Window.Size = windowSize;

            await LoadTreeView();
            await base.OnAfterRenderAsync(firstRender);
            StateHasChanged();
        }
    }
    public void ClickStateChanged()
    {
      StateHasChanged();
    }
}