@using System.Collections.Generic
@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime
@inject WebWindow Window
@inject ISGAppManagerService SGAppMgrSvc

@implements IDisposable

<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
  <!-- <img src="images/adminyyplte/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8"> -->
  <img src="images/ci/hslogo_1.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
  <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
  <span class="brand-text font-weight-light">한싹씨스템</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <!-- <img src="images/adminlte/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> -->
      <img src="images/user/mmh.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">Alexander Pierce</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <SGSideBarUI SideBarUISvc="@SideBarUISvc" />
  <!-- /.sidebar-menu -->

</div>
<!-- /.sidebar -->
<!-- . Brand Logo -->

@code
{
  ISGSideBarUIService SideBarUISvc;

  public void SGSideBarUIMenuDefinition()
  {
      /*
        ISGSideBarUIService AddMenu(int groupId, int menuId, string name, string icon, string path, 
                                  string badgeType = "", string badgeValue= "", string tooltip = "", 
                                  bool actived = false, bool expanded = false); 
        ISGSideBarUIService AddSubMenu(int groupId, int menuId, string name, string icon, string path,
                                  string badgeType = "", string badgeValue= "", string tooltip = "", 
                                  bool actived = false, bool expanded = false); 
      */
      SideBarUISvc.AddMenu(groupId: 0, menuId: 0, name: "PCURL 관리", icon: "fas fa-tachometer-alt", path: "/pcurlManage", 
                           badgeType: "right badge badge-danger", badgeValue: "New")
                  .AddMenu(groupId: 1, menuId: 1, name: "PCURL 결재", icon: "fas fa-th", path: "/pcurlApprove", 
                           badgeType: "right badge badge-danger", badgeValue: "New")
                  .AddMenu(groupId: 2, menuId: 2, name: "Sub Menu1", icon: "fas fa-copy", path: "", 
                           badgeType: "left badge badge-danger", badgeValue: "New", actived: true, expanded: true)
                          .AddSubMenu(groupId: 2, menuId: 0, name: "Counter", icon: "far fa-circle", path: "/MicrosoftPage/counter")
                          .AddSubMenu(groupId: 2, menuId: 1, name: "Fetch Data", icon: "far fa-circle", path: "/MicrosoftPage/fetchdata")
                          .AddSubMenu(groupId: 2, menuId: 2, name: "You Can't See Me", icon: "far fa-circle", path: "")
                  .AddMenu(groupId: 3, menuId: 3, name: "Sub Menu2", icon: "fas fa-copy", path: "")
                          .AddSubMenu(groupId: 3, menuId: 0, name: "Counter", icon: "far fa-circle", path: "/MicrosoftPage/counter")
                          .AddSubMenu(groupId: 3, menuId: 1, name: "Fetch Data", icon: "far fa-circle", path: "/MicrosoftPage/fetchdata")
                          .AddSubMenu(groupId: 3, menuId: 2, name: "You Can't See Me", icon: "far fa-circle", path: "")
                  .AddMenu(groupId: 4, menuId: 4, name: "결재관리", icon: "fas fa-tree", path: "transferApprove", badgeType: "right badge badge-danger")
                  .AddMenu(groupId: 5, menuId: 5, name: "파일전송", icon: "fas fa-tree", path: "transfer")
                  .AddMenu(groupId: 6, menuId: 6, name: "전송관리", icon: "fas fa-tree", path: "transManage")
                  .AddMenu(groupId: 7, menuId: 7, name: "메일관리", icon: "fas fa-tree", path: "mailManage")
                  .AddMenu(groupId: 8, menuId: 8, name: "메일결재", icon: "fas fa-tree", path: "mailApprove", badgeType: "right badge badge-danger")
                  .AddMenu(groupId: 9, menuId: 9, name: "클립보드관리", icon: "fas fa-tree", path: "clipBoardManage")
                  .AddMenu(groupId:10, menuId:10, name: "클립보드결재", icon: "fas fa-tree", path: "clipBoardApprove")
                  .AddMenu(groupId:11, menuId:11, name: "Window", icon: "fas fa-tree", path: "/MicrosoftPage/window")
                  .AddMenu(groupId:12, menuId:12, name: "Hellow Files", icon: "fas fa-tree", path: "/MicrosoftPage/hellowfiles")
                  .AddMenu(groupId:13, menuId:13, name: "Input Files", icon: "fas fa-tree", path: "/MicrosoftPage/indexcommon");
  }

  protected override void OnInitialized()
  {
      SideBarUISvc = SGAppMgrSvc.SideBarUIService;
      SGSideBarUIMenuDefinition();
      SideBarUISvc.OnChangeActMenu += StateHasChanged;
  }

  public void Dispose()
  {
      SideBarUISvc.OnChangeActMenu -= StateHasChanged;
  }

  public async Task LoadFileReaderService()
  {
      await JSRuntime.InvokeVoidAsync("loadFileReaderService");
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
      if(firstRender)
      {
          string iconFilename = "wwwroot/SecureGate.ico";
          Window.SetIconFile(iconFilename);

          await LoadFileReaderService();
          await base.OnAfterRenderAsync(firstRender);
          StateHasChanged();
      }
  }
}