@inject IJSRuntime JSRuntime

<div class="modal fade" id="MailManagePopUp">
    <div class="modal-dialog modal-dialog-top" style="vertical-align:top;">
        <div class="modal-content">
            <div class="modal-header modal-outline">
                <h5 class="modal-title pt-1 text-bold">메일전송 상세보기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->

                <div class="card-body pt-0">
                    <div class="modal-sub-title mb-2"> 상세내역 </div>
                    <table class="table table-bordered blue">
                        <colgroup>


                            <col width="10%">
                            <col width="11%">
                            <col width="10%">
                            <col width="13%">
                            <col width="11%">
                            <col width="15%">
                            <col width="11%">
                            <col width="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>발송구분 </th>
                                <td>반출</td>
                                <th>발송상태</th>
                                <td>전송대기</td>

                                <th>발신일</th>
                                <td>2020-01-13</td>
                                <th>발신자</th>
                                <td>홍길동</td>

                            </tr>

                            <tr>
                                <th>결재종류</th>
                                <td>선결</td>
                                <th>승인상태</th>
                                <td>승인대기</td>

                                <th>승인자</th>
                                <td>-</td>
                                <th>승인일</th>
                                <td>
                                    <div class="col-md-10 float-left pl-0 pr-0">승인이력</div>
                                    <!-- dropdown ----------------------------------------------- -->

                                    <div class="navbar-nav ml-auto txte-right">
                                        <!-- Messages Dropdown Menu -->
                                        <div class="nav-item dropdown show">
                                            <a class="nav-link p-0" data-toggle="dropdown" href="#" aria-expanded="true">
                                                <i class="fas fa-list-alt fa-lg"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style=" right:0px; height:90px; overflow-y:scroll;">
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">이란숙</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">차장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">컨설팅지원팀</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">문호원</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">이사</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부지원</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">김영산</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">본부장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부장</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>


                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <!-- Message Start -->
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <div class="col-md-4 float-left dropdown-item-title">김영산</div>
                                                            <div class="col-md-3 float-left dropdown-item-title">본부장</div>
                                                            <div class="col-md-5 float-left dropdown-item-title">사업본부장</div>
                                                        </div>
                                                    </div>
                                                    <!-- Message End -->
                                                </a>

                                            </div>
                                        </div>

                                        <!-- /. dropdown ----------------------------------------------- -->
                                    </div>

                                </td>
                            </tr>

                            <tr>
                                <th>수신자</th>
                                <td colspan="7">test@naver.com, han@naver.com</td>
                            </tr>

                            <tr>
                                <th>참조</th>
                                <td colspan="7">
                                    ref@naver.com
                                </td>
                            </tr>
                            <tr>
                                <th>숨은참조</th>
                                <td colspan="7">-</td>
                            </tr>

                            <tr>
                                <th>제목</th>
                                <td colspan="7">
                                    메일발송 테스트
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



                <div class="card-body pt-0 pb-0">
                    <div class="modal-sub-title mb-2"> 첨부 파일정보 </div>
                    <table class="table table-head-fixed table-bordered table-hover white">
                        <colgroup>
                            <col width="80px">
                            <col width="">
                            <col width="">
                            <col width="">

                            <col width="">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>개인정보 </th>
                                <th>파일명 </th>
                                <th>유형 </th>
                                <th>크기 </th>
                                <th>폴더 </th>
                                <th>바이러스내역 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>미포함</td>
                                <td>dddldldld_du.bmp</td>
                                <td>BMP 파일</td>
                                <td>1.347 KB</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!--/. content -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-md btn-red mr-0"><i class="fas fa-times-circle"></i>발송취소</button>
                <button type="button" class="btn btn-md btn-black mr-0" @onclick="closePopUp"><i class="fas fa-times"></i>닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    public async Task openPopUp(long seq)
    {
        object[] param = { "MailManagePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "MailManagePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
}
