



/* ID S */

	.username {
		background: url('/images/adminlte/login_icon1.png') transparent no-repeat 15px center;
		background-size: 28px auto;
	}

	@-webkit-keyframes username {
		to {
			background: url('/images/adminlte/login_icon1.png') transparent no-repeat 15px center;
			background-size: 28px auto;
		}
	}

	input.username:-webkit-autofill {
		-webkit-animation-name: username;
		-webkit-animation-fill-mode: both;
	}

	/* ./ input ID End */



	/* Password S */

.password {
	background: url('/images/adminlte/login_icon2.png') transparent no-repeat 15px center;
	background-size: 28px auto;
}

	@-webkit-keyframes password {
		to {
			background: url('/images/adminlte/login_icon2.png') transparent no-repeat 15px center;
			background-size: 28px auto;
		}
	}

	input.password:-webkit-autofill {
		-webkit-animation-name: password;
		-webkit-animation-fill-mode: both;
	}

	/* ./ Password End */






.full_copy {width:100%; color: #fff; opacity: 50%; font-size:10px; padding:5px 0px; text-align:center; text-transform:uppercase;letter-spacing:0.7px; }

.full_login_left { list-style-type:none; text-size:11px; height:100%; padding-top:120px; padding-inline-start:0px; margin-bottom:0px; background-color:rgba(0,0,0,1); text-align:center; line-height:1.1 !important;}
.full_login_left li { text-align:center; }
.full_login_left li span {color:#fff; opacity:60%; line-height:1.1 !important; font-size:11px; letter-spacing:.8px !important;}
.full_login_left li .logo {padding-bottom:10px;}
.full_login_left li .bg {padding-top:20px;}


.full-input {
	display: block;
	width: 100%;
	height: calc(2.5rem + 2px);
	padding: 0.375rem 1rem 0.375rem 3.5rem;
	background-color:rgba(255,255,255,0);
	border:0; border-bottom:1px solid #4d646d;
	color:#7bc3e4;
	vertical-align: middle;
	font-size:1.2rem; letter-spacing:1px !important;}

.full-input:focus {
  color: #7bc3e4;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), none;
}

.full-input::placeholder {
  color: #6eabc7;
  opacity: 1;
}




.full_txt{color:#81d7ff;}
.full_login_btn {background-image: linear-gradient(90deg,#3a98af,#3a6ab1); width:100%; border:0px; padding: 0.5rem; font-size:1.1rem; color:#fff;}
.full_login_btn:hover {background-image: linear-gradient(90deg,#3a6ab1,#3a6ab1); width:100%; border:0px; padding: 0.5rem; font-size:1.1rem; color:#fff;}

.sky {color:#007bff;}

/* setting */
.setting {border:2px solid #cecece; border-top:2px solid #0063ce; background-color:#fff;}
.setting th{background-color:#ebf5ff; padding-left:20px;}
.setting td{ padding-left:20px;}
.setting .tr_disable {background-color:#f9f9f9 !important;}


.tr_active {background-color:#dbeaff;}

.tb_line td{border-bottom: 1px solid #dee2e6;}


/* 200601 ----------------------------------------------------------------------------------------------------------------- */

.filezip {background-color:#f9dfcb;}



/*  첫로그인 */

@media (min-width: 576px) {
  .modal-dialog1 {
    max-width: 880px;
    margin: 5% auto;
  }
}

.login-box1,
.register-box1 {
  width: 880px;
}



.login-box-msg1,
.register-box-msg1 {
  margin: 0;
  font-size:1.3rem;
  font-weight:500;
  padding: 20px 20px 20px;
  /*padding: 0 20px 20px;*/
  text-align: center;
  color:#222;
}





/* 인증서 팝업 */


.mt-80 { margin-top: 55px !important;}


.btn-outline-blue1 {float:left; width:50%; height:100px; text-align:center; border:1px solid #dbdbdb;background-color:#fff; background: #fff url('../../dist/img/hard_1.png')82px 15px no-repeat;}
	.btn-outline-blue1:hover {
		border: 1px solid #2a40ad;
		background: #e5ecff url('/image/hard_2.png')82px 15px no-repeat;
	}
.active1 {border:1px solid #2a40ad; background: #e5ecff url('../../dist/img/hard_2.png')82px 15px no-repeat;}

.btn-outline-blue2 {float:left; width:50%; height:100px; text-align:center; border:1px solid #dbdbdb;background-color:#fff; background: #fff url('../../dist/img/usb_1.png')96px 15px no-repeat;}
	.btn-outline-blue2:hover {
		border: 1px solid #2a40ad;
		background: #e5ecff url('/image/usb_2.png')96px 15px no-repeat;
	}
.active2 {
	border: 1px solid #2a40ad;
	background: #e5ecff url('/image/usb_2.png')96px 15px no-repeat;
}

.modal-header2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 2.25rem;
  border-bottom: 0px solid #e9ecef;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background-color:#f1f1f1;
  border-radius: .8rem .8rem .0rem .0rem;
}


.modal-outline2 {
  border-top: 3px solid #007bff;
  border-radius: .8rem .8rem .0rem .0rem;
  border-top-left-radius: calc(0.6rem - 1px);
  border-top-right-radius: calc(0.6rem - 1px);
}




.modal-default1 {width:520px;}

.modal-sub-title1 {
  line-height: 1.5;
  font-size:.9rem;
  font-weight:bold;
  color:#212529;
}


/* blue */
.blue {border:2px solid #cecece; border-top:2px solid #0063ce; }
.blue th{background-color:#f7f7f7; text-align:center;}
.blue td{background-color:#fff; text-align:left;}


/* modal-sub-title */
.modal-sub-title {color:#0063ce;}

/* white */

.white {background-color:#fff;border:0px solid #cecece;  border-top:0;}

.white_pop {background-color:#fff;border:2px solid #cecece;  border-top:0;}


.modal-outline {
  border-top: 3px solid #007bff;
  border-radius:0.8rem;
  border-top-left-radius: calc(0.6rem - 1px);
  border-top-right-radius: calc(0.6rem - 1px);
}


.gray thead th{background-color:#f1f1f1; border-top:1px solid #d0d0d0;}
.gray tbody tr{overflow-y:auto;}

.shadow {box-shadow: 0 0 0px rgba(0, 0, 0, 0.125), 0 0px 0px rgba(0, 0, 0, 0.2)!important;}


.table.gray thead tr:nth-child(1) th {
  background-color: #f1f1f1;
  border:0px solid #f1f1f1;
  box-shadow: inset 0 1px 0 #f1f1f1, inset 0 -1px 0 #f1f1f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  color:#222;
}



.step-title {float:left; font-size:.9rem; margin:0;}


.disabled_1 {background-color: rgba(0, 0, 0, 0.03); color:rgba(127,127,127,0)}


.card-body .linelabel {padding:2px 8px 0px; color:#8c8c8c;}


.step_btn{ text-align:center !important; padding: 0.2rem  0.3rem 0.2rem  0.6rem !important;}



.sub_visual_wrap {
  position: relative;
  text-align: center;
  vertical-align: middle;
  background-color: #007bff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .7rem 0rem 0rem .7rem;
}



.sub_login_wrap {
  position: relative;
  text-align: center;
  vertical-align: middle;
 /* background-image:url("../../dist/img/adminlte/fs_login_bg.png");*/
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .7rem 0rem 0rem .7rem;
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0px; 
  margin-left: 0px;

}


/* form-control-login */

.form-control-login {
  display: block;
  width: 100%;
  height: calc(2.5rem + 2px);
  padding: 0.375rem 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-right:0;
  border-radius: 1.5rem;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

 .form-control-login {
    transition: none;
  }
}

.form-control-login::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control-login:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control-login:focus {
  color: #495057;
  background-color: #ffffff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), none;
}

.form-control-login::-webkit-input-placeholder {
  color: #939ba2;
  opacity: 1;
}

.form-control-login::-moz-placeholder {
  color: #939ba2;
  opacity: 1;
}

.form-control-login:-ms-input-placeholder {
  color: #939ba2;
  opacity: 1;
}

.form-control-login::-ms-input-placeholder {
  color: #939ba2;
  opacity: 1;
}

.form-control-login::placeholder {
  color: #939ba2;
  opacity: 1;
}

.form-control-login:disabled, .form-control-login[readonly] {
 /*background-color: #e9ecef;*/
  background-color: #fff;
  opacity: 1;
}

select.form-control-login:focus::-ms-value {
  color: #495057;
  background-color: #ffffff;
}

.form-control-login-file,
.form-control-login-range {
  display: block;
  width: 100%;
}



/* .input-group-text-login */

.input-group-text-login {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 1.25rem 0.375rem 0.375rem;
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5;
  /*color: #495057;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;*/
  border: 1px solid #ced4da;
  /*border-radius: 1.5rem;*/
}


.login-card-body .input-group .input-group-text-login,
.register-card-body .input-group .input-group-text-login {
  /*background-color: transparent;*/
  background-color:#fff;
  border-bottom-right-radius: 1.5rem;
  border-left: 0;
  border-top-right-radius: 1.5rem;
  color: #777;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.login-card-body .input-group .form-control-login:focus ~ .input-group-append .input-group-text-login,
.register-card-body .input-group .form-control-login:focus ~ .input-group-append .input-group-text-login {
  border-color: #80bdff;
}


.login-card-body .input-group .form-control-login.is-valid ~ .input-group-append .input-group-text-login,
.register-card-body .input-group .form-control-login.is-valid ~ .input-group-append .input-group-text-login {
  border-color: #28a745;
}




.in {background-color: #17a2b8;}
.out {background-color: #007bff;}
.mail {background-color: #00c0ef;}


.in_txt{color: #17a2b8 ;}
.out_txt {color: #007bff;}
.mail_txt {color: #00c0ef;}


/* login-btn */


.out_color {background-color: #007bff; color: #ffffff;}
.out_color:hover {background-color: #0069d9; color: #ffffff;}

.in_color {background-color: #17a2b8;  color: #ffffff;}
.in_color:hover {background-color: #138496; color: #ffffff;}

.mail_color {background-color: #00c0ef;  color: #ffffff;}
.mail_color:hover {background-color: #009dc4; color: #ffffff;}


.btn-login {
  box-shadow: none;
  border-radius: 1.5rem !important;
  font-size:1.1rem !important;
  font-weight:none;
  padding:0.5rem;
}

.btn-login:focus, .btn-login.focus {
  box-shadow: none, 0 0 0 0 rgba(38, 143, 255, 0.5);
}


.label-title {display: inline-block; margin-top: 0.5rem; /* margin-bottom: 0rem;}


/* search input select width */

.select_w {float:left; width:120px;}
.label_w {float:left; padding:0px 10px;}


.row .tabel_01 {width:100%; border:1px solid #ff0000;}

.height_01 {padding-top:5px !important;}



.modal-header .modal-outline {
  border-top: 3px solid #007bff;
}



