@inject IJSRuntime JSRuntime

<div class="modal fade" id="modal-certificate" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header-default">
                <div class="modal-title"><i class="fas fa-user mr-2 blue-txt"></i>공인인증서 전송</div>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>-->
            </div>
            <div class="modal-body-default">
                <!-- content -->



                <div class="alert_txt ">

                    <div class="row">
                        <div class="col-sm-6">

                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                                <label for="customRadio1" class="custom-control-label">하드디스크</label>
                            </div>
                            <!-- select -->
                            <div class="col-md-11 p-0">
                                <select class="form-control">
                                    <option>C :</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <div class="custom-control custom-radio mb-2">
                                <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio">
                                <label for="customRadio2" class="custom-control-label">이동디스크</label>
                            </div>
                            <!-- select -->
                            <div class="col-md-11 p-0">
                                <select class="form-control">
                                    <option>F :</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 p-0 pt-3 figure-caption">
                        <i class="fas fa-star fa-xs mr-1"></i>하드디스크는 윈도우가 설치된 드라이브에서만 인증서를 찾을 수 있습니다.
                    </div>

                </div>







                <!--/. content -->
            </div>
            <div class="modal-footer-default">
                <button @onclick="closePopUp" type="button" class="btn bg-gradient-primary pl-4 pr-4 mr-0  float-right">확인</button>
                <button @onclick="closePopUp" type="button" class="btn bg-gradient-secondary pl-4 pr-4 mr-0  float-right">닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    public async Task openPopUp()
    {
        object[] param = { "modal-certificate" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-certificate" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
}
