@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject NavigationManager MyNavigationManager

<div class="modal fade" id="modal-pcurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--s login popup-->

            <div class="login-box">
                <div class="row1">
                    <div class="col-md-6 sub_visual_wrap" style=" height:420px;">
                        <ul class="login_bg_w logbg_purple">
                            <li><img src="/images/adminlte/SecureGate_logo.png" class="mb-3"></li>
                            <li>
                                <span>
                                    This is a solution providing the data transmission service <br>among networks with the highest level of security <br>in the separated network environment.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 login-card-body" style="background-color:none !important;">

                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <p class="login-box-msg">PC URL 연계시스템 &nbsp;&nbsp;<span class="txt_purple"><i class="fas fa-globe" style="font-size:1.4rem;"></i></span></p>

                        <div class="login_w">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control-login" placeholder="ID" @bind="id">
                            </div>

                            <div class="input-group mb-2">
                                <input type="password" class="form-control-login" placeholder="Password" @bind="pw" @onkeyup="keyCheck">
                            </div>

                            <div class="row">
                                <div class="col-12 pt-1 pr-4 text-right ">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">
                                            자동로그인
                                        </label>
                                    </div>
                                </div>

                                <div class="col-12  pt-2">
                                    <button @onclick="doLogIn" class="btn btn-login btn-block btn_purple">LOGIN</button>
                                </div>
                                <div class="col-12 text-center pt-3">Copyright &copy  HANSSAK Corp.  All rights reserved.</div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--/.e login popup-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    public string id { get; set; }
    public string pw { get; set; }

    [Parameter]
    public EventCallback<int> goToPage { get; set; }

    public async Task openPopUp()
    {
        object[] param = { "modal-pcurl" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-pcurl" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void doLogIn()
    {
        MyNavigationManager.NavigateTo("/Transfer");
        closePopUp();
    }

    private void keyCheck(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
            doLogIn();
    }
}
