@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject NavigationManager MyNavigationManager

<div class="modal fade" id="modal-displaylock" data-backdrop="static" data-keyboard="false">
    
    <div class="modal-dialog" style="width:450px !important; height:500px !important;">
        <div class="modal-content border-0" style="!important; background:url('/images/adminlte/lock_bg.png');">
            <!--s login popup-->

            <div class="login-box" style="width:450px !important;">
                <div class="row1">

                    <div class=" login-card-body" style="background-color:none !important; height:500px !important;">

                        <!--<div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>-->

                        <div class="text-center"><img src="/images/adminlte/lock_icon.png"></div>

                        <div class="lock-text">비밀번호를 입력하세요.</div>

                        <div class="login_w">

                            <div class="input-group mb-2">
                                <input type="password" class="form-control-login border-0 lock-pass" placeholder="Password">
                            </div>

                            <div class="row">

                                <div class="col-12  pt-2">
                                    <button type="submit" class="btn btn-login btn-block btn_open" @onclick="closePopUp">잠금해제</button>
                                    <button type="submit" class="btn btn-login btn-block btn_exit">프로그램 종료</button>
                                </div>
                                <div class="col-12 text-center pt-3 copy">Copyright &copy  HANSSAK Corp.  All rights reserved.</div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--/.e login popup-->
        </div>
        <!-- /.modal-content -->
    </div>
 </div>

@code {
    public async Task openPopUp()
    {
        object[] param = { "modal-displaylock" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-displaylock" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

}
