@using System.Diagnostics
@using OpenNetLinkApp.Services
@using OpenNetLinkApp.PageEvent
@using AgLogManager
@using HsNetWorkSGData;
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings
@using HsNetWorkSG
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using System.Runtime.InteropServices
@using System.Net.NetworkInformation

@inherits LayoutComponentBase
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject XmlConfService XmlConf
@inject WebWindow Window
@inject PageStatusService pageService
@inject OSXcmdService OSxCmdService

<div class="modal fade" id="PopUpLogIn" style="z-index:9999;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--s login popup-->

            <div class="login-box">
                <div class="row1">
                    <div class="col-md-6 sub_visual_wrap" style=" height:420px;">
                        <ul class="login_bg_w logbg_blue">
                            <li><img src="/images/adminlte/SecureGate_logo.png" class="mb-3"></li>
                            <li>
                                <span>
                                    This is a solution providing the data transmission service <br>among networks with the highest level of security <br>in the separated network environment.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 login-card-body" style="background-color:none !important;">

                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="closePopUp">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <p class="login-box-msg1">파일전송시스템 <i class="fas fa-cloud-download-alt fa-lg ml-1"></i></p>

                        <div class="login_w">

                            <div class="input-group mb-2">
                                <input type="text" class="form-control-login" placeholder="ID" @bind="id" disabled=@bUIBtnDisable tabindex="1">
                            </div>
                            @if (pageService.m_nLoginType != 5) //OTP PW 필요없음
                            {
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control-login" placeholder="Password" @bind="pw" @onkeyup="keyCheck" disabled=@bUIBtnDisable tabindex="2">
                                </div>
                            }
                            @if (pageService.m_nLoginType == 4 || pageService.m_nLoginType == 5) //PW_OTP(4), OTP(5)
                            {
                                <div class="input-group mb-2">
                                    <input id="otp" type="text" class="full-input mb-3 password" placeholder="OTP" @bind="otp" @onkeyup="keyCheck" tabindex="3" autocomplete="off">
                                </div>
                            }
                            <div class="row">
                                @if (bAutoLogin && eLoginUITypeData == eLoginType.eLOGINTYPE_ORIGIN)
                                {
                                    <div class="col-12 pt-1 pr-4 text-right ">
                                        <div class="icheck-primary">
                                            <input type="checkbox" id="remember" @onclick="CheckStateChange" checked=@bAutoLoginCheck disabled=@bUIBtnDisable>
                                            <label for="remember">
                                                @XmlConf.GetTitle("T_ETC_AUTOLOGIN_CHECKBOX")
                                            </label>
                                        </div>
                                    </div>
                                }
                                <div class="col-12  pt-2">
                                    <button class="btn btn-login btn-block btn_blue" @onclick="doLogIn" disabled=@bUIBtnDisable>LOGIN</button>
                                </div>
                                <div class="col-12 text-center pt-3">Copyright &copy  HANSSAK Corp.  All rights reserved.</div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--/.e login popup-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- <PWChange2 @ref="refPWChange"></PWChange2>
<PWChangeDefaultPW2 @ref="refPWChangeDefaultPW"></PWChangeDefaultPW2> -->

@code {

    [Parameter]
    public EventCallback<int> goToPage { get; set; }

    public bool bAutoLogin = true;                          // 자동로그인 CheckBox 표현 및 사용유무
    public bool bAutoLoginCheck = false;                    // 자동로그인 check 상태 설정
    public bool bUIBtnDisable = false;
    public int nGroupID = -1;                       // 현재 사용할 GroupID
    public int nDrawPageGroupID = -1;              // Draw하는 GroupID

    public eLoginType eLoginUITypeData = eLoginType.eLOGINTYPE_ORIGIN;    // 로그인 Type에 따라서 UI창 변경위해 사용
    public eIDPWresultJob eResultIdPwAfterJob = eIDPWresultJob.eNone;

    ISGUserInfoService sgUserSvr;
    ISGSideBarUIService SideBarUISvc;
    ISGNetworkService NetWorkSvc;
    ISGSiteConfigService siteConfig;
    //    PWChange2 refPWChange;
    //    PWChangeDefaultPW2 refPWChangeDefaultPW;
    SGSettingsDBProc sgSettingProc = null;

    public string id { get; set; }
    public string pw { get; set; }
    public string url { get; set; }
    public string otp { get; set; }

    private static Serilog.ILogger CLog => Serilog.Log.ForContext<PopUpLogIn>();

    public async Task openPopUp()
    {
        object[] param = { "PopUpLogIn" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {

        bUIBtnDisable = false;
        id = "";
        pw = "";

        object[] param = { "PopUpLogIn" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void doLogIn()
    {

        try
        {

            HSCmdCenter.sgPageEvent.SetLoginEventAdd(nGroupID, LoginpopUpResult);

            ISGVersionConfigService VersionConfigSvc = SGAppMgrSvc.VersionConfigInfoService;
            string strCurCliVersion = "";
            string strPlatform = "";
            if (VersionConfigSvc != null)
            {
                strCurCliVersion = VersionConfigSvc.GetSWVersion();
                strCurCliVersion = "OpenNetLink " + strCurCliVersion;
                //strConfirmID = AppConfigSvc.GetSWCommitId();
                //strCurCliVersion = "OpenNetLink " + strCurCliVersion + "+" + strConfirmID;

                strPlatform = VersionConfigSvc.GetUpdatePlatform();
                strCurCliVersion = strCurCliVersion + ":" + strPlatform;
                //strCurCliVersion = strCurCliVersion + ":" + "debian";
            }

            if (strCurCliVersion.Equals(""))
                return;
            HSCmdCenter.SetCliVersion(strCurCliVersion);

            if (pageService.m_bMultiLoginDo)
            {
                SGSvrData sgSvrData = null;
                sgSvrData = (SGSvrData)HSCmdCenter.GetSGSvrData(nGroupID);
                if (sgSvrData == null)
                    return;

                eLoginType tmpLoginType = sgSvrData.GetLoginType();

                CLog.Here().Information($"PopUPLogin Dologin m_bMultiLoginDo logintype: {tmpLoginType}   group ID : {nGroupID}");


                if (tmpLoginType == eLoginType.eLOGINTYPE_AD)
                    HSCmdCenter.LoginAD(nGroupID, id, pw, strCurCliVersion, otp, (int)tmpLoginType);
                else
                    HSCmdCenter.Login(nGroupID, id, pw, strCurCliVersion, otp, (int)tmpLoginType);
            }
            else
            {
                if (pageService.m_nLoginType == (int)eLoginType.eLOGINTYPE_AD)
                    HSCmdCenter.LoginAD(nGroupID, id, pw, strCurCliVersion, otp, pageService.m_nLoginType); // (int)eLoginUITypeData
                else
                    HSCmdCenter.Login(nGroupID, id, pw, strCurCliVersion, otp, pageService.m_nLoginType); // (int)eLoginUITypeData
            }

        }
        catch (Exception ex)
        {
            CLog.Here().Information("doLogin - Exception - Msg : {0}", ex.Message);
            Debug.WriteLine(ex.Message);
        }

        //closePopUp();
        //MyNavigationManager.NavigateTo(url);
    }

    private void keyCheck(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
            doLogIn();
    }

    public void CheckStateChange()
    {

        bAutoLoginCheck = (!bAutoLoginCheck);
        //        if (!bAutoLoginCheck)
        //        {
        //            bUIBtnDisable = false;
        //            StateHasChanged();
        //        }

    }

    protected override void OnInitialized()
    {

        base.OnInitialized();
        sgUserSvr = SGAppMgrSvc.UserInfoService;
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        siteConfig = SGAppMgrSvc.SiteConfigInfoService;

        sgSettingProc = SGSettingsDBProc.Instance;

        CLog.Information("PopUpLogin - OnInitialized!");
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        // 지정한 그룹ID로 로그인
        // 첫로그인에는 popup 사용못함
        if ((nDrawPageGroupID < 0 || nDrawPageGroupID != nGroupID) && nGroupID > -1)
        {

            CLog.Here().Information("PopUpLogin - OnAfterRenderAsync - GroupID : {0}", nGroupID);

            nDrawPageGroupID = nGroupID;

            // bAutoLogin = siteConfig.GetUseAutoLogin(nGroupID);
            // bAutoLoginCheck = siteConfig.GetUseAutoLoginCheck(nGroupID);


            // IDPW 로그인
            if (eLoginUITypeData == eLoginType.eLOGINTYPE_ORIGIN)
            {

                // ID저장 사용
                if (siteConfig.GetUseLoginIDSave(nGroupID) == true)
                {
                    string strEncID = "";
                    strEncID = sgSettingProc.GetSettingUID(nGroupID);
                    if (strEncID == null || strEncID.Equals(""))
                        return;
                    string strID = "";
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    sgRSACrypto.ValueDecrypt(strEncID, out strID);
                    id = strID;
                    StateHasChanged();
                }

                // IDPW 자동로그인
                if (siteConfig.GetUseAutoLogin(nGroupID) == true)
                {

                    bAutoLoginCheck = siteConfig.GetUseAutoLoginCheck(nGroupID);

                    bool bAutoLoginContinue = sgSettingProc.GetSettingAutoLogin(nGroupID);
                    if (bAutoLoginContinue)
                        bAutoLoginCheck = true;

                    if (bAutoLoginCheck)
                        StateHasChanged();

                    if (bAutoLoginContinue)
                    {
                        string strEncID = "";
                        string strEncPW = "";
                        strEncID = sgSettingProc.GetSettingUID(nGroupID);
                        strEncPW = sgSettingProc.GetSettingUPW(nGroupID);
                        if ((strEncID == null || strEncID.Equals("")) || (strEncPW == null || strEncPW.Equals("")))
                        {
                            bUIBtnDisable = false;
                            StateHasChanged();
                            return;
                        }

                        SGRSACrypto sgRSACrypto = new SGRSACrypto();
                        string strID = "";
                        string strPW = "";
                        sgRSACrypto.ValueDecrypt(strEncID, out strID);
                        sgRSACrypto.ValueDecrypt(strEncPW, out strPW);
                        id = strID;
                        pw = strPW;
                        StateHasChanged();
                        await Task.Delay(500);
                        doLogIn();
                        StateHasChanged();
                    }

                }
                /*else
                {
                }*/

            } // if (eLoginUITypeData == eLoginType.eLOGINTYPE_ORIGIN)
            else if (eLoginUITypeData == eLoginType.eLOGINTYPE_AD)
            {
                // AD로그인
                // Mac Test 결과에 따라 변경
                id = Environment.UserName;
                if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows) || RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
                    pw = IPGlobalProperties.GetIPGlobalProperties().DomainName;
                else if (RuntimeInformation.IsOSPlatform(OSPlatform.OSX))
                    pw = OSxCmdService.GetOSXADConfig("Active Directory Domain");
#if DEBUG
                pw = "HsckAD.com";
#endif
                StateHasChanged();
                await Task.Delay(100);
                doLogIn();
                StateHasChanged();
            } // if (eLoginUITypeData == eLoginType.eLOGINTYPE_AD)

        }


        await base.OnAfterRenderAsync(firstRender);

    }

    public bool GetInitPWLogin(int groupID)
    {
        string strInitPW = siteConfig.GetInitPasswordInfo(groupID);

        SGRSACrypto sgRSACrypto = new SGRSACrypto();

        string strEncPW = "";
        sgRSACrypto.ValueEncrypt(pw, out strEncPW);
        if (strEncPW.Equals(strInitPW))
            return true;
        return false;
    }


    /**
    *@brief GPKI Type일때에 result 처리 진행
    *@return true : 이함수 호출한곳에서 이후에도 동작실행, false : 이후에 바로 return 처리
    */
    private bool ProcessLoginResultGpki(int groupId)
    {

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupId);
        SGUserData sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupId);

        HsNetWork hsNetWork = null;
        hsNetWork = HSCmdCenter.GetConnectNetWork(groupId);
        if (hsNetWork != null)
        {
            pageService.SetSessionKey(groupId, hsNetWork.GetSeedKey());
            pageService.SetCurUserPassWD(groupId, pw);
        }

        if (GetInitPWLogin(groupId) == true)
        {
            eResultIdPwAfterJob = eIDPWresultJob.eInitPW;
            pageService.SetPassWDChgType(groupId, ePassWDType.eINITPASSWDCHG);
            goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
            closePopUp();
            return false;
        }

        if (sgLoginData.GetPasswordExpired() == ePassWDChgType.eNone)
        {
            // 완료 처리!!!

            eResultIdPwAfterJob = eIDPWresultJob.eNone;
            //Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
            Window.Notification(OS_NOTI.ONLINE, pageService.m_strLoginToastTitle, pageService.m_strLoginToastMsg, "");
            goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
            return true;
        }
        else if (sgLoginData.GetPasswordExpired() == ePassWDChgType.eEnforce)
        {
            eResultIdPwAfterJob = eIDPWresultJob.eEnforced;
            pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
            goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
            closePopUp();
            return false;
        }
        else
        {

            string strTime = "";
            SGSettingData sgSettingData = null;
            sgSettingData = sgSettingProc.SelectSettingData(groupId);
            if (sgSettingData == null)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
                closePopUp();
                return false;
            }

            strTime = sgSettingProc.GetSettingDelayDspPw(groupId);
            if (strTime.Equals(""))
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
                closePopUp();
                return false;
            }

            SGPassWDPeriodData sgPassWDData = new SGPassWDPeriodData();
            string strUserSeq = sgUserData.GetUserSequence();
            strTime = sgPassWDData.LoaclPassWDDelayLoadString(strTime, strUserSeq);

            if (strTime.Equals(""))
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
                closePopUp();
                return false;
            }

            DateTime dtLocalTime = DateTime.Parse(strTime);
            DateTime svrDt = sgLoginData.GetSvrTimeDayConvert();

            if (DateTime.Compare(dtLocalTime, svrDt) < 0)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
                closePopUp();
                return false;
            }

            // 완료 처리!!!
            eResultIdPwAfterJob = eIDPWresultJob.eNone;
            //Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
            Window.Notification(OS_NOTI.ONLINE, pageService.m_strLoginToastTitle, pageService.m_strLoginToastMsg, "");
            goToPage.InvokeAsync((int)eLoginType.eLOGINTYPE_GPKI);
        }

        return true;

    }


    /**
    *@biref 3망일때에는 NetWork.json 파일이 아니라 Server에서 받은 망이름(NETOVERMODE)으로 수정해서 표현
    */
    public void ChangeNetOverTitle(int nGroupID, Dictionary<string, SGNetOverData> dicSystemIdName)
    {

        if (dicSystemIdName == null || dicSystemIdName.Count < 2)
            return;

        // string strNetOverDestTitle = "";

        // NetWork.json 파일이 아니라 Server에서 받은 망이름(NETOVERMODE)으로 전부 수정해서 표현
        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        /*for (int nIdx = 0; nIdx < listNetWork.Count; nIdx++)
        {
            if (listNetWork[nIdx].GroupID == nGroupID)
            {

                listNetWork[nIdx].FromName = "";
                listNetWork[nIdx].ToName = "";

                foreach (var item in dicSystemIdName)
                {
                    if (item.Value.nIdx != 0 && item.Key.Length > 0)
                    {
                        if (strNetOverDestTitle.Length > 0)
                            strNetOverDestTitle += ",";

                        strNetOverDestTitle += item.Key;
                    }

                    if (item.Value.nIdx == 0 && item.Key.Length > 0)
                    {
                        listNetWork[nIdx].FromName = item.Key;
                    }
                }

                if (strNetOverDestTitle.Length > 0)
                    listNetWork[nIdx].ToName = strNetOverDestTitle;
            }
        }*/

        // 왼쪽 SideBar 에서 도착하는 곳만 "다중망"으로 표현, 시작하는 곳 이름은 Server에서 받은 망이름(NETOVERMODE) 사용
        // Welcome(대쉬보드)에서 표현은 시작망이름은 망이름(NETOVERMODE) 사용, 도착망이름은 망이름(NETOVERMODE)에서 1번째 도달하는 망이름 사용
        for (int nIdx = 0; nIdx < listNetWork.Count; nIdx++)
        {
            if (listNetWork[nIdx].GroupID == nGroupID)
            {

                foreach (var item in dicSystemIdName)
                {
                    if (item.Value.nIdx == 0 && item.Key.Length > 0)
                    {
                        listNetWork[nIdx].FromName = item.Key;
                    }

                    if (item.Value.nIdx == 1 && item.Key.Length > 0)
                    {
                        listNetWork[nIdx].ToName = item.Key;
                    }
                }

                // 다중망 양 끝단이 아닐때는 도착지를 "다중망"으로 표기하지 않음
                if (pageService.m_bIsMultiNetWork == false)
                    listNetWork[nIdx].ToName = XmlConf.GetTitle("T_RECV_SIDE_TITLE");
                return;
            }
        }

    }


    /**
    *@brief Type 상관없이 일때에 result 처리 진행
    *@return true : 이함수 호출한곳에서 이후에도 동작실행, false : 이후에 바로 return 처리
    */
    private bool ProcessLoginResultAll(int groupId)
    {

        SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupId);
        SGUserData sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupId);

        HsNetWork hsNetWork = null;
        hsNetWork = HSCmdCenter.GetConnectNetWork(groupId);
        if (hsNetWork != null)
        {
            pageService.SetSessionKey(groupId, hsNetWork.GetSeedKey());
            pageService.SetCurUserPassWD(groupId, pw);
        }

        eResultIdPwAfterJob = eIDPWresultJob.eNone;

        SGSettingData sgSettingData = null;
        sgSettingData = sgSettingProc.SelectSettingData(groupId);
        if (sgSettingData == null)
            sgSettingProc.InsertSettingData(groupId, "", "", "", "", 0);

        // IDPW UI 형태일때에만 사용
        if (eLoginUITypeData == eLoginType.eLOGINTYPE_ORIGIN)
        {

            if (siteConfig.GetUseAutoLogin(groupId) == true)
            {
                if (bAutoLoginCheck)
                {
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strEncID = "";
                    string strEncPW = "";
                    if ((!id.Equals("")) & (id != null) & (!pw.Equals("")) & (pw != null))
                    {
                        sgRSACrypto?.ValueEncrypt(id, out strEncID);
                        sgRSACrypto?.ValueEncrypt(pw, out strEncPW);

                        sgSettingProc.SetSettingUID(groupId, strEncID);
                        sgSettingProc.SetSettingUPW(groupId, strEncPW);
                        sgSettingProc.SetSettingAutoLogin(groupId, true);
                    }
                }
                else
                {
                    sgSettingProc.SetSettingAutoLogin(groupId, false);
                }

            }
            else
            {
                if (siteConfig.GetUseLoginIDSave(groupId) == true)
                {
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strEncID = "";
                    sgRSACrypto.ValueEncrypt(id, out strEncID);
                    if (sgSettingData != null)
                        sgSettingProc.SetSettingUID(groupId, strEncID);
                }
            }

            if (GetInitPWLogin(groupId) == true)
            {
                pageService.SetPassWDChgType(groupId, ePassWDType.eINITPASSWDCHG);
                eResultIdPwAfterJob = eIDPWresultJob.eInitPW;
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

            if (sgLoginData.GetPasswordExpired() == ePassWDChgType.eNone)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eNone;
                //Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
                Window.Notification(OS_NOTI.ONLINE, pageService.m_strLoginToastTitle, pageService.m_strLoginToastMsg, "");
                goToPage.InvokeAsync((int)eLoginUITypeData);
                return true;
            }
            else if (sgLoginData.GetPasswordExpired() == ePassWDChgType.eEnforce)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eEnforced;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

            string strTime = "";
            //SGSettingData sgSettingData = null;
            sgSettingData = sgSettingProc.SelectSettingData(groupId);
            if (sgSettingData == null)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

            strTime = sgSettingProc.GetSettingDelayDspPw(groupId);
            if (strTime.Equals(""))
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

            SGPassWDPeriodData sgPassWDData = new SGPassWDPeriodData();
            string strUserSeq = sgUserData.GetUserSequence();
            strTime = sgPassWDData.LoaclPassWDDelayLoadString(strTime, strUserSeq);
            if (strTime.Equals(""))
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

            DateTime dtLocalTime = DateTime.Parse(strTime);
            DateTime svrDt = sgLoginData.GetSvrTimeDayConvert();

            if (DateTime.Compare(dtLocalTime, svrDt) < 0)
            {
                eResultIdPwAfterJob = eIDPWresultJob.eAfterWard;
                pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                goToPage.InvokeAsync((int)eLoginUITypeData);
                closePopUp();
                return false;
            }

        }
        else if (eLoginUITypeData == eLoginType.eLOGINTYPE_AD)
        {

        }

        eResultIdPwAfterJob = eIDPWresultJob.eNone;
        //Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
        Window.Notification(OS_NOTI.ONLINE, pageService.m_strLoginToastTitle, pageService.m_strLoginToastMsg, "");
        goToPage.InvokeAsync((int)eLoginUITypeData);

        return true;

    }


    /**
    *@brief IDPW Type일때에 result 처리 진행
    *@return true : 이함수 호출한곳에서 이후에도 동작실행, false : 이후에 바로 return 처리
    */
    public void LoginpopUpResult(int groupId, PageEventArgs e)
    {

        int ret = e.result;
        if (ret == 0)
        {

            SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupId);

            pageService.ConnectCountAdd(groupId);
            pageService.SetConnectStatus(groupId, true);
            pageService.SetLogoutStatus(groupId, false);

            CLog.Here().Information($"groupID : {groupId} - User Do Login(idpw-popup), UrlRedirection LogIn State ReSet !!!");
            HsNetWorkSG.HsHttpWatcher.SetLoginOutState(groupId, true);

            /*
            if (ClientPatch(sgLoginData))
            {
                string strSvrVersion = sgLoginData.GetServClientVersion();
                refUpdate_PopUp.SetVersionText(strSvrVersion);
                refUpdate_PopUp.SetType(0);
                refUpdate_PopUp.SetLoginUpdateEventAdd(LoginUpdateExe);
                await refUpdate_PopUp.openPopUp();
                return;
            }
            */

            SGUserData sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupId);
            sgUserSvr.SetUserInfo(groupId, sgLoginData, sgUserData);

            ISGAppConfigService AppConfigSvc = SGAppMgrSvc.AppConfigInfoService;

            Dictionary<string, SGNetOverData> dicSysIdName = null;
            dicSysIdName = new Dictionary<string, SGNetOverData>();

            if (sgLoginData.GetUseOverNetwork2())
            {

                if (sgLoginData.GetOverNetwork2Data(ref dicSysIdName, pageService.m_bIsMultiNetWork))
                {
                    pageService.SetTargetSystemList(groupId, dicSysIdName);

                    // 3중망이상일때, 왼쪽Sidebar 포함 도착망이름 변경
                    if (dicSysIdName != null && dicSysIdName.Count > 1)
                    {
                        ChangeNetOverTitle(groupId, dicSysIdName);
                    }
                }
            }



            bool bUseClipBoard = sgLoginData.GetClipboard();
            if (bUseClipBoard)
            {
                List<bool> listModKey = AppConfigSvc.GetClipBoardModifier(groupId);
                char chVKey = AppConfigSvc.GetClipBoardVKey(groupId);

                if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
                {
                    bool bAlt = listModKey[(int)HOTKEY_MOD.ALT];
                    bool bCtrl = listModKey[(int)HOTKEY_MOD.CTRL];
                    bool bShift = listModKey[(int)HOTKEY_MOD.SHIFT];
                    bool bWin = listModKey[(int)HOTKEY_MOD.WINDOW];
                    Window.WinRegClipboardHotKey(groupId, bAlt, bCtrl, bShift, bWin, chVKey);
                }
                else
                {
                    Window.RegClipboardHotKey(groupId,
                                    listModKey[(int)HOTKEY_MOD.ALT],
                                    listModKey[(int)HOTKEY_MOD.CTRL],
                                    listModKey[(int)HOTKEY_MOD.SHIFT],
                                    listModKey[(int)HOTKEY_MOD.WINDOW],
                                    chVKey);
                }
            }


            DateTime dt = sgLoginData.GetSvrTimeConvert();
            pageService.SetSvrTime(groupId, dt);
            bool bAfterApprChkHIde = sgLoginData.GetAfterChkHide();
            bool bAfterApprEnable = sgLoginData.GetUseAfterApprove(dt);
            pageService.SetAfterApprChkHIde(groupId, bAfterApprChkHIde);
            pageService.SetAfterApprEnable(groupId, bAfterApprEnable);

            Int64 DayFileMaxSize = sgLoginData.GetDayFileTransferLimitSize();
            int DayFileMaxCount = sgLoginData.GetDayFileTransferLimitCount();
            Int64 DayClipMaxSize = sgLoginData.GetDayClipboardLimitSize();
            int DayClipMaxCount = sgLoginData.GetDayClipboardLimitCount();
            pageService.SetDayFileAndClipMax(groupId, DayFileMaxSize, DayFileMaxCount, DayClipMaxSize, DayClipMaxCount);


            ScreenTimeInitNotiEvent screenTimeInitEvent = HSCmdCenter.sgPageEvent.GetScreenTimeInitNotiEvent();
            if (screenTimeInitEvent != null)
            {
                ConfigArgs config = new ConfigArgs();
                config.ScreenTime = sgLoginData.GetSCRLimit();
                screenTimeInitEvent(groupId, config);
            }

            // 이후 동작 처리
            if (ProcessLoginResultAll(groupId) == false)
                return;


            CtrlSideEvent ctrlSideEvent = null;
            ctrlSideEvent = HSCmdCenter.sgPageEvent.GetCtrlSideNotiEvent();
            if (ctrlSideEvent != null)
                ctrlSideEvent();

            // 로그인 완료 -

        }
        else
        {
            bUIBtnDisable = false;
            string strPopupMsg = e.strMsg;
            strPopupMsg = strPopupMsg.Replace("/r/n", "<br/>");
            ShowLoginFail(strPopupMsg);
            HSCmdCenter.SendLogOut(groupId, "");
            StateHasChanged();
        }

        closePopUp();

    }

    private void ShowLoginFail(string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        strMsg = strMsg.Replace("/r/n", "<br>");
        object[] param = { "error", XmlConf.GetTitle("T_SYSTEMNAME2"), strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }



}
