@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf

<div class="modal fade" id=@Guid data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header3 modal-outline2 border-bottom">
                <h5 class="modal-title pt-1 text-bold"><i class="fas fa-cog mr-1"></i> @title </h5>
            </div>
            <div class="modal-body1">
                <div class="card-body pt-2 pb-2">
                    <div class="alert_txt">
                        @((MarkupString)message)
                    </div>
                </div>
            </div>
            <div class="modal-footer1">
                @if (mode != 0)
                {
                    <button type="button" class="btn bg-gradient-info pl-4 pr-4 mr-0  float-right" @onclick="Confirm">@strOk</button>
                }
                @if (mode == 2)
                {
                    <button type="button" class="btn bg-gradient-secondary pl-4 pr-4 mr-0  float-right" @onclick="Cancel">@XmlConf.GetTitle("T_COMMON_CANCEL")</button>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    public string title { get; set; }
    public string message { get; set; }
    public int mode { get; set; }   //1: alert, confirm
    public int groupId = 0;
    public string arg = "";
    public string strOk = "";

    public void Confirm()
    {
        OnConfirm.InvokeAsync(arg);
        closePopUp();
    }

    public void Cancel()
    {
        OnCancel.InvokeAsync(arg);
        closePopUp();
    }
    [Parameter]
    public EventCallback<string> OnConfirm { get; set; }

    [Parameter]
    public EventCallback<string> OnCancel { get; set; }

    [Parameter]
    public string Guid { get; set; }

    /// <summary>
    /// Alert 팝업
    /// </summary>
    /// <param name="tle"></param>
    /// <param name="msg"></param>
    /// <param name="md">0: none / 1:confirm / 2: confirm && cancel </param>
    /// <param name="gid"></param>
    /// <param name="argument">전달인자</param>
    /// <param name="okMsg">확인 버튼 문구</param>
    /// <returns></returns>
    public async Task openPopUp(string tle, string msg, int md, int gid, string argument = "", string okMsg = "")
    {
        title = tle;
        message = msg;
        mode = md;
        groupId = gid;
        arg = argument;
        if (String.IsNullOrEmpty(okMsg))
            strOk = XmlConf.GetTitle("T_COMMON_OK");
        else
            strOk = okMsg;

        StateHasChanged();

        object[] param = { Guid };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { Guid };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
}
