@inject IJSRuntime JSRuntime

<div class="modal fade" id="modal-capcha" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header2 modal-outline2">
                <h5 class="modal-title pt-1 text-bold"><i class="fas fa-shield-alt"></i> 보안문자입력</h5>
            </div>
            <div class="modal-body pt-0">
                <!-- content -->

                <div class="card-body pt-0">
                    <div class="captcha_title pb-2">
                        안전을 위해 보안문자를 입력해 주세요.<br>
                        <span>문자를 정확히 입력</span>하시면 파일전송이 가능합니다.
                    </div>
                    <div class="captcha_title mt-2"> 보안문자</div>
                    <div class="row p-0 m-0 mb-3">
                        <div class="col-9 p-0 m-0 captcha_w">
                            <img src="/images/adminlte/captcha_img.png">
                        </div>

                        <div class="col-3 pr-0">
                            <button type="button" class="btn bg-gradient-secondary w-100 mb-1 pt-2 pb-2"><i class="fas fa-redo-alt"></i></button>
                            <button type="button" class="btn bg-gradient-secondary w-100 mb-0  pt-2 pb-2"><i class="fas fa-volume-up"></i></button>
                        </div>
                    </div>
                    <div class="captcha_title"> 보안문자입력 </div>
                    <input type="text" class="form-control captcha_txt" id="1" @bind="stCapcha">
                </div>
                <!--/. content -->
            </div>
            <div class="modal-footer">
                <button @onclick="Confirm" type="button" class="btn btn-md btn-blue mr-0"><i class="fas fa-check"></i>확인</button>
                <button @onclick="Cancel" type="button" class="btn btn-md btn-black mr-0"><i class="fas fa-times"></i>취소</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    private string stCapcha;

    public async Task openPopUp()
    {
        object[] param = { "modal-capcha" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-capcha" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
    private void Confirm()
    {
        closePopUp();
    }
    private void Cancel()
    {
        closePopUp();
    }
}