
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
<div class="modal fade" id="MainLogIn" style="background:url('/images/adminlte/fs_bg.png')no-repeat center center/cover;">
    <div class="modal-dialog1">
        <div class="modal-content" style="background-color:#f9f9f9;"> 
<!--s login popup-->
                <div class="login-box1">
                    <div class="row1">
                        <div class="col-md-6 sub_login_wrap" style=" height:413px;">
                            <ul style="text-align:center; list-style-type:none;text-size: 12px; width:100%; height:100%; padding-top:130px; padding-inline-start:0px; margin-bottom:0px;line-height:1.1 !important" ;>
                                <li> <img src="/images/adminlte/SecureGate_logo.png" style="padding-bottom:20px;"></li>
                                <li>
                                    <span style="color:#fff; opacity:60%; line-height:13px; font-size:12px;">
                                        This is a solution providing the data transmission service <br>among networks with the highest level of security <br>in the separated network environment.
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 login-card-body">

                            <p class="login-box-msg1" style="font-weight:bold;"><img src="/images/adminlte/s_logo.png" class="mb-1 mr-2" />망연계솔루션 <span class="out_txt">로그인 </span></p>

                            <form method="post" class="ml-3 mr-3">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control-login" placeholder="ID" @bind="id">
                                    <div class="input-group-append">
                                        <div class="input-group-text-login">
                                            <span><img src="/images/adminlte/login_icon1.png"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control-login" placeholder="Password" @bind="pw" @onkeyup="keyCheck">
                                    <div class="input-group-append">
                                        <div class="input-group-text-login">
                                            <span><img src="/images/adminlte/login_icon2.png"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <div class="icheck-primary pr-3" style="text-align:right;">
                                            <input type="checkbox" id="remember">
                                            <label for="remember">
                                                자동로그인
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-login btn-block out_color" @onclick="doLogIn">LOGIN</button>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!--/.s login popup-->
                </div>
                <!-- /.modal-content -->
             </div>
                <!-- /.modal-dialog -->
            </div>
    
@code {
    public string id { get; set; }
    public string pw { get; set; }
    public async Task openPopUp()
    {
        object[] param = { "MainLogIn" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    [Parameter]
    public EventCallback<int> goToPage { get; set; }

    public void closePopUp()
    {
        object[] param = { "MainLogIn" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void doLogIn()
    {
        //closePopUp();
        goToPage.InvokeAsync(1);
    }

    private void keyCheck(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
            doLogIn();
    }
}
