@inject IJSRuntime JSRuntime

<div class="modal fade" id="MessagePopUp">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-outline">
                <h5 class="modal-title pt-1 text-bold ">제외된 파일 리스트</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body pt-0 pb-0">
                    <div class="col-md-12 p-0 mb-3">
                        압축파일내 검사가압축파일내 검사가압축파일내 검사가압축파일내 검사가

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" @onclick="closePopUp" class="btn bg-gradient-info mr-0 pl-5 pr-5"><i class="fas fa-check pr-1"></i>확인</button>
                <button type="button" @onclick="closePopUp" class="btn bg-gradient-secondary mr-0 pl-5 pr-5"><i class="fas fa-times pr-1"></i>취소</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    
    public async Task openPopUp()
    {
        object[] param = { "MessagePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "MessagePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
}