@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf

<div class="modal fade" id="modal-offline">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header-default">
                <div class="modal-title"><i class="fas fa-exclamation-triangle mr-2 text-danger"></i>업무망 <i class="fas fa-long-arrow-alt-right p-1"></i> 인터넷망</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body-default">
                <!-- content -->

                <div class="text-center alert_txt text-md" style="line-height:2rem; letter-spacing:0;">
                    파일전송 시스템의 인터넷망이 <span class="text-danger">오프라인</span> 되었습니다.<br>

                    잠시만 기다려 주세요.


                    <div class="main-content space-top wrapper" role="main" id="mainContent">
                        <div class="loader loader-8"></div>
                    </div>

                </div>

                <!--/. content -->
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    public async Task openPopUp()
    {
        object[] param = { "modal-offline" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "modal-offline" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

}