@page  "/"
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using AgLogManager
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService
@inject XmlConfService XmlConf

<div class="loading_y" translate="no">
    <section>
        <div class="sk-circle-bounce">
            <div class="sk-child sk-circle-1"></div>
            <div class="sk-child sk-circle-2"></div>
            <div class="sk-child sk-circle-3"></div>
            <div class="sk-child sk-circle-4"></div>
            <div class="sk-child sk-circle-5"></div>
            <div class="sk-child sk-circle-6"></div>
            <div class="sk-child sk-circle-7"></div>
            <div class="sk-child sk-circle-8"></div>
            <div class="sk-child sk-circle-9"></div>
            <div class="sk-child sk-circle-10"></div>
            <div class="sk-child sk-circle-11"></div>
            <div class="sk-child sk-circle-12"></div>
        </div>
        <!-- <div class="loading_title" @onclick="goLogIn"> -->
        <div class="loading_title">
            @XmlConf.GetInfoMsg("I_0212")
        </div>
    </section>
</div>

@code {

    ISGNetworkService NetWorkSvc;
    private static Serilog.ILogger CLog => Serilog.Log.ForContext<PopUpLogIn>();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        object[] param = { "none" };
        await JSRuntime.InvokeAsync<object>("initLogIn", param);

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        pageService.listNetWork = NetWorkSvc.NetWorkInfo;

        if (listNetWork.Count > 1)
            pageService.m_bIsMultiNetWork = true;       // 3망관련 UI 및 동작에 크게 영향줌(다중연결상황으로 파악함. 필요에 따라 설정값변경해서 배포)

        for (int i = 0; i < listNetWork.Count; i++)
        {
            HSCmdCenter.sgPageEvent.SetSvrEventAdd(listNetWork[i].GroupID, SvrResult);
            pageService.SetLogoutStatus(listNetWork[i].GroupID, true);
        }

        //HSCmdCenter.sgPageEvent.SetSvrEventAdd(0, SvrResult);
        HSCmdCenter.Init();

        // Toast에 사용되는 Text
        pageService.m_strLoginToastTitle = XmlConf.GetTitle("T_TOAST_LOGIN");
        pageService.m_strLoginToastMsg = XmlConf.GetInfoMsg("I_0213");
        pageService.m_strLoginToastMsg = pageService.m_strLoginToastMsg.Replace("\\n", "\n");

        // Toast 에서 전송관리 메뉴로 넘어가기 위해 저장
        pageService.m_TransMenuArray = new ISGSideBarUI[listNetWork.Count];
        pageService.m_TransMenuArray.Initialize();

        // Toast 에서 결재관리 메뉴로 넘어가기 위해 저장
        pageService.m_approveMenuArray = new ISGSideBarUI[listNetWork.Count];
        pageService.m_approveMenuArray.Initialize();
    }

    private void goLogIn(String loginType)
    {
        //초기로그인 페이지 지정
        pageService.m_nLoginType = Int32.Parse(loginType);
        pageService.m_nCurViewPageGroupID = 0;
        MyNavigationManager.NavigateTo("/LogIn");

    }
    //loginType : 5 OTP, 3:LDAP
    public void SvrResult(int groupId, string loginType)
    {
        CLog.Here().Information($"==================> Temp SvrResult Init groupID : {groupId} LoginType : {loginType}");
        pageService.SetGroupIDLoginType(groupId, (eLoginType)Int32.Parse(loginType));
        CLog.Here().Information($"==================> Temp SvrResult ReSet groupID : {groupId} LoginType : {loginType}");
        //pageService.m_DicGroupIDloginType[groupId] = (eLoginType)Int32.Parse(loginType);

        SGSvrData sgSvrData = null;
        sgSvrData = (SGSvrData)HSCmdCenter.GetSGSvrData(groupId);
        if (sgSvrData == null)
            return;

       eLoginType eLoginTypeData = sgSvrData.GetLoginType();

        if (groupId == 0)
            goLogIn(loginType);
    }
}
