@page  "/"
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService
@inject XmlConfService XmlConf

<div class="loading_y" translate="no">
    <section>
        <div class="sk-circle-bounce">
            <div class="sk-child sk-circle-1"></div>
            <div class="sk-child sk-circle-2"></div>
            <div class="sk-child sk-circle-3"></div>
            <div class="sk-child sk-circle-4"></div>
            <div class="sk-child sk-circle-5"></div>
            <div class="sk-child sk-circle-6"></div>
            <div class="sk-child sk-circle-7"></div>
            <div class="sk-child sk-circle-8"></div>
            <div class="sk-child sk-circle-9"></div>
            <div class="sk-child sk-circle-10"></div>
            <div class="sk-child sk-circle-11"></div>
            <div class="sk-child sk-circle-12"></div>
        </div>
        <!-- <div class="loading_title" @onclick="goLogIn"> -->
        <div class="loading_title">
            @XmlConf.GetInfoMsg("I_0212")
        </div>
    </section>
</div>

@code {

    ISGNetworkService NetWorkSvc;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        object[] param = { "none" };
        await JSRuntime.InvokeAsync<object>("initLogIn", param);

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        int count = listNetWork.Count;
        for (int i = 0; i < count; i++)
        {
            HSCmdCenter.sgPageEvent.SetSvrEventAdd(listNetWork[i].GroupID, SvrResult);
            pageService.SetLogoutStatus(listNetWork[i].GroupID, true);
        }

        //HSCmdCenter.sgPageEvent.SetSvrEventAdd(0, SvrResult);
        HSCmdCenter.Init();


        // Toast에 사용되는 Text
        pageService.m_strLoginToastTitle = XmlConf.GetTitle("T_TOAST_LOGIN");
        pageService.m_strLoginToastMsg = XmlConf.GetInfoMsg("I_0213");
        pageService.m_strLoginToastMsg.Replace("\\n", "\n");

        // Toast 에서 전송관리 메뉴로 넘어가기 위해 저장
        pageService.m_TransMenuArray = new ISGSideBarUI[listNetWork.Count];
        pageService.m_TransMenuArray.Initialize();

        // Toast 에서 결재관리 메뉴로 넘어가기 위해 저장
        pageService.m_approveMenuArray = new ISGSideBarUI[listNetWork.Count];
        pageService.m_approveMenuArray.Initialize();




    }

    private void goLogIn()
    {
        //초기로그인 페이지 지정
        pageService.m_nCurViewPageGroupID = 0;
        MyNavigationManager.NavigateTo("/LogIn");

    }

    public void SvrResult(int groupId)
    {
        if (groupId == 0)
            goLogIn();
    }
}
