@page "/LogIn"
@using System.Diagnostics
@using OpenNetLinkApp.Services
@using System.Security.Authentication
@using OpenNetLinkApp.PageEvent
@using OpenNetLinkApp.Models.SGNetwork
@using OpenNetLinkApp.Models.SGSideBar
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using HsNetWorkSGData
@using HsNetWorkSG
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.Data.SGSettings
@using OpenNetLinkApp.Models.SGSettings
@using System.Threading
@using System.Runtime.InteropServices 
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject XmlConfService XmlConf
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject WebWindow Window
@inject PageStatusService pageService;


<div class="hold-transition login-page" style="background:url('/images/adminlte/login_full.png')no-repeat center center; background-size:cover;">
    <div class="login-box  p-0 m-0" style="height:413px; width:880px !important;">
        <div class="card p-0" style="border-radius:.7rem !important; background-color:rgba(0,0,0,0.7);">
            <div class="card-body login-card-body  p-0">
                <div class="row1">
                    <div class="col-md-6 login-card-body  pt-0 pb-0" style="border-radius:.7rem 0rem 0rem .7rem !important;">
                        <ul class="full_login_left">
                            <li> <img src="/images/adminlte/SecureGate_logo.png" class="logo"></li>
                            <li>
                                <span>
                                    This is a solution providing the data transmission service <br>
                                    among networks with the highest level of security <br>
                                    in the separated network environment.
                                </span>
                            </li>
                            <li><img src="/images/adminlte/login_full_1.png" class="bg"></li>
                        </ul>
                    </div>

                    <div id="loginCard" class="col-md-6 login-card-body" style="height:413px; border-radius:0rem .7rem .7rem 0rem !important;">

                        <div style=" width:310px;">
                            <p class="login-box-msg1" style=" padding-top:50px;color:#fff; font-size:1.5rem;">@strSystemName <span class="full_txt">@strConNetwork </span></p>



                            <input id="loginId" type="text" class="full-input mb-3 username" placeholder="ID" @bind="id" tabindex="0">

                            <input id="loginPw" type="password" class="full-input mb-2 password" placeholder="password" @bind="pw" @onkeyup="keyCheck" tabindex="1">

                            <div class="row p-0">
                                @if (bAutoLogin)
                                {
                                    <div class="col-md-12 mt-1 ">
                                        <div class="form-group float-right">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" style="margin-top: 0.2rem !important;" tabindex="2" @onclick="CheckStateChange" checked="@bAutoLoginCheck">
                                                <label class="form-check-label" style="color:#fff;">@strAutoLogin</label>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-12 text-center">
                                    <button @onclick="doLogIn" class="full_login_btn btn mb-3" tabindex="3" disabled="@bLoginBtnDisable">LOGIN</button>
                                    <div class="full_copy">COPYRIGHT &copy 2020 HANSSAK. ALL RIGHTS RESERVED</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<PWChange @ref="refPWChange"></PWChange>
<PWChangeDefaultPW @ref="refPWChangeDefaultPW"></PWChangeDefaultPW>
<Update_PopUp @ref="refUpdate_PopUp"></Update_PopUp>

@code {
    public string id { get; set; }
    public string pw { get; set; }

    public string strSystemName = "";
    public string strConNetwork = "";
    public string strAutoLogin = "";

    ISGUserInfoService sgUserSvr;
    ISGSideBarUIService SideBarUISvc;
    ISGNetworkService NetWorkSvc;
    ISGSiteConfigService siteConfig;
    public bool bInitBaseLogin = true;
    PWChange refPWChange;
    PWChangeDefaultPW refPWChangeDefaultPW;
    SGSettingsDBProc sgSettingProc;
    public bool bAutoLogin;

    public bool bAutoLoginCheck;

    public bool bLoginBtnDisable;

    Update_PopUp refUpdate_PopUp;

    private void keyCheck(KeyboardEventArgs arg)
    {
        if (arg.Key == "Enter")
            doLogIn();
    }
    private void doLogIn()
    {
        try
        {
            ISGAppConfigService AppConfigSvc = SGAppMgrSvc.AppConfigInfoService;
            string strCurCliVersion = "";
            //string strConfirmID = "";
            if (AppConfigSvc != null)
            {
                strCurCliVersion = AppConfigSvc.GetSWVersion();
                strCurCliVersion = "OpenNetLink " + strCurCliVersion;
                //strConfirmID = AppConfigSvc.GetSWCommitId();
                //strCurCliVersion = "OpenNetLink " + strCurCliVersion + "+" + strConfirmID;
            }

            if (strCurCliVersion.Equals(""))
                return;
            HSCmdCenter.SetCliVersion(strCurCliVersion);
            HSCmdCenter.Login(0, id, pw, strCurCliVersion);
        }
        catch (Exception ex)
        {
            Debug.WriteLine(ex.Message);
        }
    }

    private void WaitForFocus()
    {
        System.Threading.Thread.Sleep(1000);
        @*if (id.Length == 0)
        {
            object[] param2 = { "loginId" };
            JSRuntime.InvokeAsync<object>("changeFocus", param2);
        }
        else
        {
            object[] param3 = { "loginPw" };
            JSRuntime.InvokeAsync<object>("changeFocus", param3);
        }*@
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Thread waitTh = new Thread(WaitForFocus);
        waitTh.Start();
        base.OnAfterRender(firstRender);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        object[] param = { "none" };
        await JSRuntime.InvokeAsync<object>("initLogIn", param);

        await JSRuntime.InvokeAsync<object>("InitDragAndDrop");
        await JSRuntime.InvokeAsync<object>("addMouseDown");
        await JSRuntime.InvokeAsync<object>("addMouseUp");
        await JSRuntime.InvokeAsync<object>("addDragStart");
        if (firstRender)
        {
            if (siteConfig.GetUseAutoLogin(0) == true)
            {
                bool bAutoLoginContinue = sgSettingProc.GetSettingAutoLogin(0);
                if (bAutoLoginContinue)
                {
                    string strEncID = "";
                    string strEncPW = "";
                    strEncID = sgSettingProc.GetSettingUID(0);
                    strEncPW = sgSettingProc.GetSettingUPW(0);
                    if ((strEncID == null || strEncID.Equals("")) || (strEncPW == null || strEncPW.Equals("")))
                    {
                        bLoginBtnDisable = false;
                        StateHasChanged();
                        return;
                    }

                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strID = "";
                    string strPW = "";
                    sgRSACrypto.ValueDecrypt(strEncID, out strID);
                    sgRSACrypto.ValueDecrypt(strEncPW, out strPW);
                    id = strID;
                    pw = strPW;
                    StateHasChanged();
                    System.Threading.Thread.Sleep(500);
                    doLogIn();
                    StateHasChanged();
                }
            }
            else
            {
                if (siteConfig.GetUseLoginIDSave(0) == true)
                {
                    string strEncID = "";
                    strEncID = sgSettingProc.GetSettingUID(0);
                    if (strEncID == null || strEncID.Equals(""))
                        return;
                    string strID = "";
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    sgRSACrypto.ValueDecrypt(strEncID, out strID);
                    id = strID;
                    StateHasChanged();
                }
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        int groupid = 0;
        InitText();
        //HSCmdCenter.LoginResult_Event += LoginResult;
        HSCmdCenter.sgPageEvent.SetLoginEventAdd(groupid, LoginResult);
        base.OnInitialized();
        sgUserSvr = SGAppMgrSvc.UserInfoService;
        SideBarUISvc = SGAppMgrSvc.SideBarUIService;
        NetWorkSvc = SGAppMgrSvc.NetworkInfoService;
        siteConfig = SGAppMgrSvc.SiteConfigInfoService;

        sgSettingProc = SGSettingsDBProc.Instance;
        bAutoLogin = siteConfig.GetUseAutoLogin(0);
        bAutoLoginCheck = siteConfig.GetUseAutoLoginCheck(0);
        if (siteConfig.GetUseAutoLogin(0) == true)
        {
            if (sgSettingProc.GetSettingAutoLogin(0))
                bLoginBtnDisable = true;
            else
            {
                if (siteConfig.GetUseLoginIDSave(0) == true)
                {
                    string strEncID = "";
                    strEncID = sgSettingProc.GetSettingUID(0);
                    if (strEncID == null || strEncID.Equals(""))
                    {
                        bLoginBtnDisable = false;
                        return;
                    }
                    string strID = "";
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    sgRSACrypto.ValueDecrypt(strEncID, out strID);
                    id = strID;
                }
            }
        }
    }

    public void InitText()
    {
        strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션

        SGData tmpData = null;
        tmpData = HSCmdCenter.GetSGSvrData(0);
        if (tmpData != null)
        {
            int systemID = 1;
            string sysID = tmpData.GetBasicTagData("SYSTEMID");
            if (!sysID.Equals(""))
                systemID = Convert.ToInt32(sysID);
            if (systemID == 1)
                strConNetwork = XmlConf.GetTitle("T_COMMON_LOGININNER");            // 업무망
            else
                strConNetwork = XmlConf.GetTitle("T_COMMON_LOGINOUTER");            // 인터넷망
        }
        else
            strConNetwork = XmlConf.GetTitle("T_COMMON_LOGININNER");            // 업무망

        strAutoLogin = XmlConf.GetTitle("T_ETC_AUTOLOGIN_CHECKBOX");        // 자동로그인
    }


    public async void LoginResult(int groupId, PageEventArgs e)
    {
        int ret = e.result;
        if (ret == 0)
        {
            //Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.");
            SGLoginData sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(groupId);
            if(ClientPatch(sgLoginData))
            {
                //ClientUpgradeExecute clientExecute = HSCmdCenter.sgPageEvent.GetClientUpgradeExeEvent();
                //if (clientExecute != null)
                //   clientExecute();
                await refUpdate_PopUp.openPopUp();
                return;
            }
            SGUserData sgUserData = (SGUserData)HSCmdCenter.GetUserData(groupId);
            sgUserSvr.SetUserInfo(groupId, sgLoginData, sgUserData);
            InitSideMenu(groupId);
            // MyNavigationManager.NavigateTo("/Welcome");
            ISGAppConfigService AppConfigSvc = SGAppMgrSvc.AppConfigInfoService;

            bool bUseClipBoard = sgLoginData.GetClipboard();
            if(bUseClipBoard)
            {
                List<bool> listModKey = AppConfigSvc.GetClipBoardModifier(groupId);
                char chVKey = AppConfigSvc.GetClipBoardVKey(groupId);

                if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
                {
                    bool bAlt = listModKey[(int)HOTKEY_MOD.ALT];
                    bool bCtrl = listModKey[(int)HOTKEY_MOD.CTRL];
                    bool bShift = listModKey[(int)HOTKEY_MOD.SHIFT];
                    bool bWin = listModKey[(int)HOTKEY_MOD.WINDOW];
                    Window.WinRegClipboardHotKey(groupId, bAlt, bCtrl, bShift, bWin, chVKey);
                }


                else
                {
                    Window.RegClipboardHotKey(groupId,
                                    listModKey[(int)HOTKEY_MOD.ALT],
                                    listModKey[(int)HOTKEY_MOD.CTRL],
                                    listModKey[(int)HOTKEY_MOD.SHIFT],
                                    listModKey[(int)HOTKEY_MOD.WINDOW],
                                    chVKey);
                }
            }


            DateTime dt = sgLoginData.GetSvrTimeConvert();
            pageService.SetSvrTime(groupId, dt);
            bool bAfterApprChkHIde = sgLoginData.GetAfterChkHide();
            bool bAfterApprEnable = sgLoginData.GetUseAfterApprove(dt);
            pageService.SetAfterApprChkHIde(groupId, bAfterApprChkHIde);
            pageService.SetAfterApprEnable(groupId, bAfterApprEnable);

            Int64 DayFileMaxSize = sgLoginData.GetDayFileTransferLimitSize();
            int DayFileMaxCount = sgLoginData.GetDayFileTransferLimitCount();
            Int64 DayClipMaxSize = sgLoginData.GetDayClipboardLimitSize();
            int DayClipMaxCount = sgLoginData.GetDayClipboardLimitCount();
            pageService.SetDayFileAndClipMax(groupId, DayFileMaxSize, DayFileMaxCount, DayClipMaxSize, DayClipMaxCount);


            ScreenTimeInitNotiEvent screenTimeInitEvent = HSCmdCenter.sgPageEvent.GetScreenTimeInitNotiEvent();
            if (screenTimeInitEvent != null)
            {
                ConfigArgs config = new ConfigArgs();
                config.ScreenTime = sgLoginData.GetSCRLimit();
                screenTimeInitEvent(groupId, config);
            }

            if (siteConfig.GetUseAutoLogin(0) == true)
            {
                if (bAutoLoginCheck)
                {
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strEncID = "";
                    string strEncPW = "";
                    sgRSACrypto.ValueEncrypt(id, out strEncID);
                    sgRSACrypto.ValueEncrypt(pw, out strEncPW);

                    SGSettingData sgSettingData = null;
                    sgSettingData = sgSettingProc.SelectSettingData(0);
                    if (sgSettingData == null)
                        sgSettingProc.InsertSettingData(0, "", "", "", "", 0);

                    sgSettingProc.SetSettingUID(0, strEncID);
                    sgSettingProc.SetSettingUPW(0, strEncPW);
                    sgSettingProc.SetSettingAutoLogin(0, true);
                }
            }
            else
            {
                if (siteConfig.GetUseLoginIDSave(0) == true)
                {
                    SGRSACrypto sgRSACrypto = new SGRSACrypto();
                    string strEncID = "";
                    sgRSACrypto.ValueEncrypt(id, out strEncID);
                    SGSettingData sgSettingData = null;
                    sgSettingData = sgSettingProc.SelectSettingData(0);
                    if (sgSettingData == null)
                        sgSettingProc.InsertSettingData(0, "", "", "", "", 0);
                    sgSettingProc.SetSettingUID(0, strEncID);
                }
            }

            HsNetWork hsNetWork = null;
            hsNetWork = HSCmdCenter.GetConnectNetWork(groupId);
            if (hsNetWork != null)
            {
                pageService.SetSessionKey(groupId, hsNetWork.GetSeedKey());
                pageService.SetCurUserPassWD(groupId, pw);
            }

            if (GetInitPWLogin(groupId) == true)
            {
                pageService.SetPassWDChgType(groupId, ePassWDType.eINITPASSWDCHG);
                await refPWChangeDefaultPW.openPopUp();
                return;
            }
            if (sgLoginData.GetPasswordExpired() == ePassWDChgType.eNone)
            {
                MyNavigationManager.NavigateTo("/Welcome");
                if (AppConfigSvc.GetStartTrayMove())
                {
                    if (pageService.GetConnectCount(groupId) <= 0)                                                                     // 재접속이 아닐 경우에만 트레이 이동
                    {
                        string strTitle = XmlConf.GetTitle("T_ETC_TRAYMOVE");                                                   // 트레이 이동.
                        string strInfoMsg = XmlConf.GetInfoMsg("I_0051");                                                       // 트레이 아이콘으로 이동합니다.
                        Window.Notification(OS_NOTI.ONLINE, strTitle, strInfoMsg);
                        Window.MoveWebWindowToTray();
                    }
                    else
                        Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
                }
                else
                {
                    Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");

                }

            }
            else
            {
                string strTime = "";
                SGSettingData sgSettingData = null;
                sgSettingData = sgSettingProc.SelectSettingData(0);
                if (sgSettingData == null)
                {
                    pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                    refPWChange.Init();
                    await refPWChange.openPopUp();
                    return;
                }

                strTime = sgSettingProc.GetSettingDelayDspPw(0);
                if (strTime.Equals(""))
                {
                    pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                    refPWChange.Init();
                    await refPWChange.openPopUp();
                    return;
                }

                DateTime dtLocalTime = DateTime.Parse(strTime);
                DateTime svrDt = sgLoginData.GetSvrTimeDayConvert();

                if (DateTime.Compare(dtLocalTime, svrDt) < 0)
                {
                    pageService.SetPassWDChgType(groupId, ePassWDType.eDAYPASSWDCHG);
                    refPWChange.Init();
                    await refPWChange.openPopUp();
                }
                else
                {
                    MyNavigationManager.NavigateTo("/Welcome");
                    if (AppConfigSvc.GetStartTrayMove())
                    {
                        if (pageService.GetConnectCount(groupId) <= 0)                                                                     // 재접속이 아닐 경우에만 트레이 이동
                        {
                            string strTitle = XmlConf.GetTitle("T_ETC_TRAYMOVE");                                                   // 트레이 이동.
                            string strInfoMsg = XmlConf.GetInfoMsg("I_0051");                                                       // 트레이 아이콘으로 이동합니다.
                            Window.Notification(OS_NOTI.ONLINE, strTitle, strInfoMsg);
                            Window.MoveWebWindowToTray();
                        }
                        else
                            Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
                    }
                    else
                    {
                        Window.Notification(OS_NOTI.ONLINE, "Login Complete", "Success!!\nLogin to SecureGate Server.", "");
                    }
                }
            }

            pageService.ConnectCountAdd(groupId);
            pageService.SetConnectStatus(groupId, true);

            CtrlSideEvent ctrlSideEvent = null;
            ctrlSideEvent = HSCmdCenter.sgPageEvent.GetCtrlSideNotiEvent();
            if (ctrlSideEvent != null)
                ctrlSideEvent();

            // Move WebWindow To Tray.
            //if (AppConfigSvc.GetStartTrayMove()) Window.MoveWebWindowToTray();
        }
        else
        {
            bLoginBtnDisable = false;
            string strPopupMsg = e.strMsg;
            strPopupMsg.Replace("/r/n", "<br/>");
            ShowLoginFail(strPopupMsg);
        }
    }

    private void ShowLoginFail(string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        object[] param = { "error", strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    public void InitSideMenu(int groupid)
    {
        string strDataTrans = XmlConf.GetTitle("T_COMMON_FILETRANS_BASIC");                     // 자료전송
        string strFileTrans = XmlConf.GetTitle("T_COMMON_FILETRANS");                           // 파일전송
        string strTransManage = XmlConf.GetTitle("T_COMMON_TRANSMANAGE");                       // 전송관리
        string strApprManage = XmlConf.GetTitle("T_COMMON_APPROVEMANAGE");                      // 결재관리
        string strSecurityApprManage = XmlConf.GetTitle("T_COMMON_APPROVESECURITY");            // 보안결재
        string strClipboard = XmlConf.GetTitle("T_COMMON_CLIPBOARD");                           // 클립보드
        string strClipboardTransManage = XmlConf.GetTitle("T_COMMON_CLIPTRANS");                // 클립보드 관리
        string strClipboardApprManage = XmlConf.GetTitle("T_COMMON_CLIPAPPR");                  // 클립보드 결재
        string strEmail = XmlConf.GetTitle("T_COMMON_EMAIL");                                   // 메일
        string strEmailTransManage = XmlConf.GetTitle("T_COMMON_EMAILMANAGE_GAP");              // 메일 관리
        string strEmailApprManage = XmlConf.GetTitle("T_COMMON_EMAILAPPROVE_GAP");              // 메일 결재
        string strPCURL = XmlConf.GetTitle("T_COMMON_URL");                                     // PCURL
        string strPCURLTransManage = XmlConf.GetTitle("T_COMMON_URLMANAGE");                    // PCURL 관리
        string strPCURLApprManage = XmlConf.GetTitle("T_COMMON_URLAPPROVE");                    // PCURL 결재
        string strEnvSetInfo = XmlConf.GetTitle("T_COMMON_OPTION");                             // 환경설정.
        string strNetSetInfo = XmlConf.GetTitle("T_ETC_CONNTCTINFO_TITLE");                         // 접속환경
        string strBasicSetInfo = XmlConf.GetTitle("T_ETC_BASICSET_TITLE");                      // 기본설정.

        SideBarUISvc.DeleteAllItem();
        List<ISGNetwork> listNetWork = NetWorkSvc.NetWorkInfo;
        int count = listNetWork.Count;
        //count = 1;
        for (int i = 0; i < count; i++)
        {
            int gID = listNetWork[i].GroupID;
            string strNetFromName = listNetWork[i].FromName;
            string strNetToName = listNetWork[i].ToName;

            bool bExpand = false;
            bool bActived = false;
            if (groupid == gID)
            {
                bExpand = true;
                bActived = true;
            }

            SGLoginData sgLoginData = null;
            SGUserData sgUserData = null;
            sgLoginData = (SGLoginData)HSCmdCenter.GetLoginData(i);
            sgUserData = (SGUserData)HSCmdCenter.GetUserData(i);

            bool bFileTransMenuUse = false;
            bool bApprMenuUse = false;
            bool bSecurityApprMenuUse = false;
            bool bPCURLUse = false;
            bool bClipBoardApprUse = false;

            if ((sgLoginData != null) && (sgUserData != null))
            {
                bFileTransMenuUse = sgLoginData.GetFileTrans();
                if (sgLoginData.GetApprove() == true)
                    if ((sgLoginData.GetApproveProxyRight() == true) || (sgUserData.GetUserApprpos() > 0))
                        bApprMenuUse = true;

                bSecurityApprMenuUse = sgUserData.GetUserPrivacyApprPos();
                bPCURLUse = sgLoginData.GetPCURLUse();
            }

            // 우선 모든 메뉴가 나오도록 임시 설정.
            bFileTransMenuUse = bApprMenuUse = bSecurityApprMenuUse = bPCURLUse = bClipBoardApprUse = true;

            SideBarUISvc.AddRoot(groupId: gID, categoryId: LSIDEBAR.MENU_CATE_ROOT, fromName: strNetFromName, toName: strNetToName, icon: "fas fa-cloud-upload-alt", path: "/Welcome", badgeType: "right badge badge-danger", badgeValue: "N", "", bActived, bExpand)

                    .AddMenu(groupId: gID, Id: 0, categoryId: LSIDEBAR.MENU_CATE_FILE, name: "", icon: "fas fa-copy", path: "", badgeType: "left badge badge-warning", bUse: bFileTransMenuUse)                                                                     // 파일전송
                    .AddSubMenu(groupId: gID, Id: 0, parentId: 0, categoryId: LSIDEBAR.MENU_CATE_FILE, name: strFileTrans, icon: "fas fa-copy", path: "/transfer", badgeType: "right badge badge-warning", bUse: bFileTransMenuUse)                                                                     // 파일전송
                    .AddSubMenu(groupId: gID, Id: 1, parentId: 0, categoryId: LSIDEBAR.MENU_CATE_FILE, name: strTransManage, icon: "fas fa-copy", path: "/transManage", badgeType: "right badge badge-warning")                                                                // 전송관리
                    .AddSubMenu(groupId: gID, Id: 2, parentId: 0, categoryId: LSIDEBAR.MENU_CATE_FILE, name: strApprManage, icon: "fas fa-copy", path: "/transferApprove", badgeType: "right badge badge-warning", bUse: bApprMenuUse)                      // 결재관리
                    .AddSubMenu(groupId: gID, Id: 3, parentId: 0, categoryId: LSIDEBAR.MENU_CATE_FILE, name: strSecurityApprManage, icon: "fas fa-copy", path: "/securityApprove", badgeType: "right badge badge-warning", bUse: bSecurityApprMenuUse)                          // 보안결재관리                                                 // 보안결재관리

                    .AddMenu(groupId: gID, Id: 1, categoryId: LSIDEBAR.MENU_CATE_MAIL, name: "", icon: "fas fa-envelope", path: "", badgeType: "left badge badge-warning")                                                                 // 메일 관리
                    .AddSubMenu(groupId: gID, Id: 0, parentId: 1, categoryId: LSIDEBAR.MENU_CATE_MAIL, name: strEmailTransManage, icon: "fas fa-envelope", path: "/mailManage", badgeType: "right badge badge-warning")                                                                 // 메일 관리
                    .AddSubMenu(groupId: gID, Id: 1, parentId: 1, categoryId: LSIDEBAR.MENU_CATE_MAIL, name: strEmailApprManage, icon: "fas fa-envelope", path: "/mailApprove", badgeType: "right badge badge-warning", bUse: bApprMenuUse)                                                                // 메일 결재

                    .AddMenu(groupId: gID, Id: 2, categoryId: LSIDEBAR.MENU_CATE_PCURL, name: "", icon: "fas fa-globe", path: "", badgeType: "right badge badge-warning", bUse: bPCURLUse)                                                       // PCURL 관리
                    .AddSubMenu(groupId: gID, Id: 0, parentId: 2, categoryId: LSIDEBAR.MENU_CATE_PCURL, name: strPCURLTransManage, icon: "fas fa-globe", path: "/pcurlManage", badgeType: "right badge badge-warning", bUse: bPCURLUse)                                                       // PCURL 관리
                    .AddSubMenu(groupId: gID, Id: 1, parentId: 2, categoryId: LSIDEBAR.MENU_CATE_PCURL, name: strPCURLApprManage, icon: "fas fa-globe", path: "/pcurlApprove", badgeType: "right badge badge-warning", bUse: (bPCURLUse & bApprMenuUse))                                                       // PCURL 결재

                    .AddMenu(groupId: gID, Id: 3, categoryId: LSIDEBAR.MENU_CATE_CLIP, name: "", icon: "fas fa-object-ungroup", path: "", badgeType: "right badge badge-warning", bUse: bClipBoardApprUse)                                                          // 클립보드 관리
                    .AddSubMenu(groupId: gID, Id: 0, parentId: 3, categoryId: LSIDEBAR.MENU_CATE_CLIP, name: strClipboardTransManage, icon: "fas fa-object-ungroup", path: "/clipBoardManage", badgeType: "right badge badge-warning", bUse: bClipBoardApprUse)                                                          // 클립보드 관리
                    .AddSubMenu(groupId: gID, Id: 1, parentId: 3, categoryId: LSIDEBAR.MENU_CATE_CLIP, name: strClipboardApprManage, icon: "fas fa-object-ungroup", path: "/clipBoardApprove", badgeType: "right badge badge-warning", bUse: (bClipBoardApprUse & bApprMenuUse))                                                         // 클립보드 결재

                    .AddMenu(groupId: gID, Id: 4, categoryId: LSIDEBAR.MENU_CATE_ENVSET, name: strNetSetInfo, icon: "fas fa-cog", path: "/viewConf", badgeType: "right badge badge-warning")                                                                         // 접속환경
                    .AddSubMenu(groupId: gID, Id: 0, parentId: 4, categoryId: LSIDEBAR.MENU_CATE_ENVSET, name: XmlConf.GetTitle("T_COMMON_NOTIFY"), icon: "fas fa-cog", path: "/publicBoard", badgeType: "right badge badge-warning")                                                                         // 공지사항
                    .AddSubMenu(groupId: gID, Id: 1, parentId: 4, categoryId: LSIDEBAR.MENU_CATE_ENVSET, name: strNetSetInfo, icon: "fas fa-cog", path: "/viewConf", badgeType: "right badge badge-warning")                                                                         // 접속환경
                    .AddSubMenu(groupId: gID, Id: 2, parentId: 4, categoryId: LSIDEBAR.MENU_CATE_ENVSET, name: strBasicSetInfo, icon: "fas fa-cog", path: "/netConf", badgeType: "right badge badge-warning");                                                                     // 기본설정
        }
        SideBarUISvc.EmitNotifyStateChangedActMenu();
    }

    public bool GetInitPWLogin(int groupID)
    {
        string strInitPW = siteConfig.GetInitPasswordInfo(groupID);

        SGRSACrypto sgRSACrypto = new SGRSACrypto();

        string strEncPW = "";
        sgRSACrypto.ValueEncrypt(pw, out strEncPW);
        if (strEncPW.Equals(strInitPW))
            return true;
        return false;
    }

    public void CheckStateChange()
    {
        bAutoLoginCheck = (!bAutoLoginCheck);
        if (!bAutoLoginCheck)
        {
            bLoginBtnDisable = false;
            StateHasChanged();
        }
    }
    public bool ClientPatch(SGLoginData sgLoginData)
    {

        if (sgLoginData == null)
            return false;
        bool bUpdate = sgLoginData.GetClientUpgrade();
        if (!bUpdate)
            return false;

        string strSvrCliVersion = sgLoginData.GetServClientVersion();
        if (strSvrCliVersion.Equals(""))
            return false;
        strSvrCliVersion = strSvrCliVersion.ToUpper();

        string strCliVersion = HSCmdCenter.GetCliVersion();
        if (strCliVersion.Equals(""))
            return false;
        strCliVersion = strCliVersion.ToUpper();

        return true;

        if (String.Compare(strSvrCliVersion, strCliVersion, comparisonType: StringComparison.OrdinalIgnoreCase) > 0)
        {
            return true;
        }
        else
            return false;

    }
}
