@using System
@using System.Collections.Generic
@using System.Linq

@using Serilog
@using Serilog.Events
@using AgLogManager

@using System.Runtime.InteropServices

@inject ISGAppManagerService SGAppMgrSvc
@inject WebWindow Window
@inject XmlConfService XmlConf
@inject HSCmdCenter HsCmdCenter
@inject IJSRuntime JSRuntime

<div class="modal fade" id="modal-finishedupdate" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:5000;">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header-default">
                <div class="modal-title"><i class="fas fa-cog blue-txt mr-2 "></i>@XmlConf.GetTitle("T_ETC_SOFTWARE_UPDATE")</div>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>-->
            </div>
            <div class="modal-body-default_up" style="backgroudn-color:#ececec !important;" >
            <!-- content -->

                <div class=" alert_txt text-center ">

                    <div class="col-md-12 p-4" style="font-size:40px; color:#609c00;"><i class="fas fa-check-circle "></i></div>
                    <label class="mb-1" style="font-size:18px; padding-bottom:20px; color:black;">
                    업데이트 설치가 완료되었습니다.
                    </label>	
                    <div style=" font-size:16px; color:#737373; font-weight: normal; padding-bottom:40px;">
                    You've updated an downloaded application! 
                    Now, You can use the application.
                    </div>		
                </div>
                                
            <!--/. content -->
            </div>
            <div class="modal-footer-default ">
                <button type="button" class="btn bg-gradient-primary pl-4 pr-4 mr-0 " @onclick="@(async () => ClosePopUp())">@XmlConf.GetTitle("T_FILE_FOLD")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@code
{
    [Parameter]
    public ISGCtrlSideUIService CtrlSideUISvc { get; set; }
    [Parameter]
    public ISGAppUpdaterService AppUpdaterSvc { get; set; }

    private static Serilog.ILogger CLog => Serilog.Log.ForContext<SGFinishedDownload>();

    public async void OpenPopUp()
    {
        object[] param4 = { "0" };
        await JSRuntime.InvokeAsync<object>("changeLeftSideBarZIndex", param4);

        object[] param = { "modal-finishedupdate" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
        object[] param2 = { "1000" };
        await JSRuntime.InvokeAsync<object>("changeModalZIndex", param2);
        //object[] param3 = { "black" };
        //await JSRuntime.InvokeAsync<object>("changeModalFontColor", param3);
    }

    public async void ClosePopUp()
    {
        object[] param5 = { "1101" };
        await JSRuntime.InvokeAsync<object>("changeLeftSideBarZIndex", param5);

        object[] param2 = { "1024" };
        await JSRuntime.InvokeAsync<object>("changeModalZIndex", param2);
        //object[] param3 = { "#C2C7D0" };
        //await JSRuntime.InvokeAsync<object>("changeModalFontColor", param3);
        object[] param = { "modal-finishedupdate" };
        await JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
}