@inject IJSRuntime JSRuntime

<div class="modal fade" id="ApproverSelect_TreePopUp">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-outline pl-3 pr-3">
                <h5 class="modal-title pt-1 text-bold ">결재자 조회</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- content -->
                <!-- s------------------------------------------------------------------------------------------------------  -->

                <div class="card-body p-0">


                    <!--s table -->
                    <div class="box1" style=" width:46%;  float:left;">


                        <div class="card-body  p-0" style="height:368px; border:1px solid #ddd; background-color:#fff;">

                            <div class="table-responsive  p-2" style="height:185px;">
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>
                                111 <br>


                            </div>
                            <div class="card-body table-responsive p-0" style="height:181px; border:1px solid #ddd; background-color:#fff;">
                                <table class="table table-head-fixed table-hover">
                                    <colgroup>
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                        <col width="">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>파일명 </th>
                                            <th>유형 </th>
                                            <th>크기 </th>
                                            <th>폴더 </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>001</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>000</td>
                                            <td>개발 3팀</td>
                                            <td>사원</td>
                                            <td>홍길동</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>





                        </div>



                    </div>
                    <!--e table -->
                    <!--s btn -->
                    <div class="box2" style=" width:8%; height:300px; float:left;">
                        <div class="col-md-12 text-center" style="top:45% !important;">
                            <button type="button" class="btn bg-gradient-primary mb-3"><i class="fas fa-angle-right fa-2x"></i></button>
                            <button type="button" class="btn bg-gradient-primary"><i class="fas fa-angle-left fa-2x"></i></button>
                        </div>
                    </div>
                    <!--e btn -->
                    <!--s table -->
                    <div class="box1" style="width:46%;  float:left;">
                        <div class="btn-group w-100 mb-2 ">
                            <button type="button" class="btn bg-gradient-secondary mr-1 active"><i class="fas fa-angle-double-up pr-2"></i>맨위</button>
                            <button type="button" class="btn bg-gradient-secondary mr-1"><i class="fas fa-arrow-up pr-1"></i>위</button>
                            <button type="button" class="btn bg-gradient-secondary mr-1"><i class="fas fa-arrow-down pr-1"></i>아래</button>
                            <button type="button" class="btn bg-gradient-secondary"><i class="fas fa-angle-double-down pr-2"></i>맨아래</button>
                        </div>

                        <div class="card-body table-responsive p-0" style="height:331px; border:1px solid #ddd; background-color:#fff;">
                            <table class="table table-head-fixed table-hover">
                                <colgroup>
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                    <col width="">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>파일명 </th>
                                        <th>유형 </th>
                                        <th>크기 </th>
                                        <th>폴더 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>001</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>
                                    <tr>
                                        <td>000</td>
                                        <td>개발 3팀</td>
                                        <td>사원</td>
                                        <td>홍길동</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>



                    </div>
                    <!--e table -->




                </div>












                <!--/. content -->
            </div>

            <!-- e------------------------------------------------------------------------------------------------------  -->

            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-info mr-0 pl-5 pr-5" @onclick="closePopUp"><i class="fas fa-check pr-1"></i>확인</button>
                <button type="button" class="btn bg-gradient-secondary mr-0 pl-5 pr-5"  @onclick="closePopUp"><i class="fas fa-times pr-1"></i>닫기</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@code {
    public async Task openPopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "ApproverSelect_TreePopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }
   
}