@page "/RCLickFileMid"
@page "/RCLickFileMid/{groupIDbyParam:int}"

@using AgLogManager
@inject IJSRuntime JSRuntime
@inject NavigationManager MyNavigationManager
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService
@inject XmlConfService XmlConf


<div class="loading_y" translate="no">
    <section>
        <div class="sk-circle-bounce">
            <div class="sk-child sk-circle-1"></div>
            <div class="sk-child sk-circle-2"></div>
            <div class="sk-child sk-circle-3"></div>
            <div class="sk-child sk-circle-4"></div>
            <div class="sk-child sk-circle-5"></div>
            <div class="sk-child sk-circle-6"></div>
            <div class="sk-child sk-circle-7"></div>
            <div class="sk-child sk-circle-8"></div>
            <div class="sk-child sk-circle-9"></div>
            <div class="sk-child sk-circle-10"></div>
            <div class="sk-child sk-circle-11"></div>
            <div class="sk-child sk-circle-12"></div>
        </div>
        <!-- <div class="loading_title" @onclick="goLogIn"> -->
        <div class="loading_title">
            @XmlConf.GetInfoMsg("I_0215")
        </div>
    </section>
</div>
@code {

    [Parameter]
    public int groupIDbyParam { get; set; }

    //ISGAppConfigService AppConfigSvc = null;
    //ISGSiteConfigService siteConfig = null;
    private static Serilog.ILogger CLog => Serilog.Log.ForContext<RClickFileTransMiddle>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        int groupID = groupIDbyParam;

        if (firstRender)
        {
            string strNavigatePathWithGroupID = "";
            string strNavigateUrl = "";

            strNavigateUrl = pageService.GetFileTransPage(groupID);
            if (strNavigateUrl != null && strNavigateUrl.Length > 0)
                strNavigatePathWithGroupID = strNavigateUrl;
            else
                strNavigatePathWithGroupID = "/Transfer/";

            strNavigatePathWithGroupID += groupID.ToString();

            CLog.Here().Information("RCLickFileMid, groupid : {0}", groupID);

            await Task.Delay(1000);
            MyNavigationManager.NavigateTo(strNavigatePathWithGroupID);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        @*AppConfigSvc = SGAppMgrSvc.AppConfigInfoService;
            siteConfig = SGAppMgrSvc.SiteConfigInfoService;*@
    }

}
