@using OpenNetLinkApp.Services
@using OpenNetLinkApp.Data.SGDicData.SGUnitData
@using OpenNetLinkApp.Data.SGQuery
@using OpenNetLinkApp.PageEvent
@using HsNetWorkSGData
@inject IJSRuntime JSRuntime
@inject XmlConfService XmlConf
@inject HSCmdCenter HSCmdCenter
@inject ISGAppManagerService SGAppMgrSvc
@inject PageStatusService pageService

<div class="modal fade" id="SecurityPopUp" data-backdrop="static" data-keyboard="false" style="z-index:9999;">
    <div class="modal-dialog modal-default1">
        <div class="modal-content">
            <div class="modal-header-default">
                <div class="modal-title"><i class="fas fa-key mr-2 blue-txt"></i>@XmlConf.GetTitle("T_eFADLP")</div>
            </div>
            <div class="modal-body-default">
                <div class="alert_txt ">
                    @((MarkupString)stDesc)
                </div>                
            </div>
            <div class="modal-footer-default">
                <button @onclick="closePopUp" type="button" class="btn btn-md btn-black mr-0"><i class="fas fa-check"></i>@XmlConf.GetTitle("T_COMMON_OK")</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@code {
    [Parameter]
    public EventCallback<List<string>> OnSelectCancel { get; set; }
    [Parameter]
    public EventCallback<List<string>> OnSelectOK { get; set; }

    private string stDesc { get; set; }
    ISGSiteConfigService siteConfig;

    public void setDesc(string desc)
    {
        stDesc = desc;
        StateHasChanged();
    }

    public async Task openPopUp()
    {     
        object[] param = { "SecurityPopUp" };
        await JSRuntime.InvokeAsync<object>("openPopUp", param);
    }

    public void closePopUp()
    {
        object[] param = { "SecurityPopUp" };
        JSRuntime.InvokeAsync<object>("closePopUp", param);
    }

    private void ShowMessage(string strType, string strMsg)
    {
        //type: success, info, waring, error 2020/07/02 YKH
        string strSystemName = XmlConf.GetTitle("T_SYSTEMNAME2");                  // 망연계 솔루션
        object[] param = { strType, strSystemName, strMsg };
        JSRuntime.InvokeAsync<object>("fireToastMessage", param);
    }

    protected override void OnInitialized()
    {
        siteConfig = SGAppMgrSvc.SiteConfigInfoService;
    }
}
