@page "/Approve"
@using OpenNetLinkApp.Components.Grid
 


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">결재 관리</h3>
                </div>
                <SGGrid></SGGrid>
            </div>
        </div>
    </div>
</section>

@code {
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
